<!-- <div class="row">
  <div class="col-sm-12">
    <div class="box-management">
      <h3>PFA</h3>
      <p>Visualize os dados consolidados no processo de Feedback Ascendente</p>
    </div>
  </div>
</div> -->

<div class="row mb-5">
  <div class="col-sm-12">
    <h3>PFA</h3>
    <p class="fs-14">{{ 'ViewTheConsolidatedDataIntheUpwardFeedbackProcess' | translate }}</p>
  </div>
</div>

<!-- <mat-tab-group mat-align-tabs="start" *ngIf="permission === 'regional'">
  <mat-tab label="Média de líderes">
    <ng-container *ngIf="permission === 'regional'">
      <app-regional-leader [data]="leaderData" *ngIf="leaderData"></app-regional-leader>
    </ng-container>
  </mat-tab>  
  <mat-tab label="Minha média">
    
    <app-unit-leader-data [regionalId]="regionalId"></app-unit-leader-data>
  </mat-tab>
</mat-tab-group> -->

    <!-- <ng-container *ngIf="permission === 'regional' || permission == 'senior'">
      <app-unit-leader-data [regionalId]="regionalId"></app-unit-leader-data>
    </ng-container> -->
    <ng-container *ngIf="permission == 'regional senior'">
      <app-regional-senior-new [id]="regionalId"></app-regional-senior-new>
    </ng-container>

    <ng-container *ngIf="permission === 'regional'">
      <app-regional-new [id]="regionalId"></app-regional-new>
    </ng-container>

    <ng-container *ngIf="permission === 'lider' || permission === 'Líder' || permission === 'Lider'">
      <app-user-new [id]="regionalId"></app-user-new>
    </ng-container>
<!-- 
    <ng-container *ngIf="permission === 'senior' || permission === 'adm'">
      <app-regional-senior [data]="leaderData" [permission]="permissionData" *ngIf="leaderData"></app-regional-senior>
    </ng-container> -->
    
    <!-- <ng-container *ngIf="permission === 'user'">
      <app-unit-leader-data [regionalId]="null"></app-unit-leader-data>
    </ng-container> -->
    
    <!-- <ng-container *ngIf="permission === 'lider'">
      <app-unit-leader-data [regionalId]="null"></app-unit-leader-data>
    </ng-container> -->

  


<!-- <ng-container *ngIf="permission === 'lider'">
  <app-regional-leader [data]="leaderData" *ngIf="leaderData"></app-regional-leader>
</ng-container> -->

<!-- <div class="card mt-4">
  <div class="card-body">
    <div class="mb-4">
      <b>Periodo:</b> 2º semestre de 2019
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-pfa">
        <thead>
          <tr>
            <th class="w-50">Questão</th>
            <th class="text-center">Tamanho da amostra</th>
            <th class="text-center">Média anterior</th>
            <th class="text-center">Média atual</th>
            <th class="text-center">Média global <i class="fa fa-question-circle"
              matTooltip="Média Global é a média considerando TODOS os usuários da Rede"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pfa ; let i = index">
            <td><b>{{ i + 1 }}.</b> {{ item.question }}</td>
            <td class="text-center">
              <strong>{{ item.qtd }}</strong>
            </td>
            <td class="text-center">
              <strong>{{ item.MdAnterior }}</strong>
              <mat-progress-bar mode="determinate"
                [value]="(item.MdAnterior / 5 ) * 100">
              </mat-progress-bar>
          </td>
          <td class="text-center">
            <strong>{{ item.MdAtual }}</strong>
            <mat-progress-bar mode="determinate" [value]="(item.MdAtual / 5 ) * 100">
            </mat-progress-bar>
          </td>
          <td class="text-center">
            <strong>{{ item.MdGlobal }}</strong>
            <mat-progress-bar mode="determinate" [value]="(item.MdGlobal / 5 ) * 100">
            </mat-progress-bar>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div> -->
