<!-- <div class="row">
    <div class="col-sm-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/']" >{{ 'Home' | translate }}</a></li>
          <li class="breadcrumb-item active d-none d-sm-block" aria-current="page">
            Lista de colaboradores da unidade
          </li>
        </ol>
      </nav>
    </div>
</div> -->

<app-avalia-360-breadcrumb></app-avalia-360-breadcrumb>


<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Colaboradores" *ngIf="(type == 'evaluator' || type == 'geral')">
        <!-- <div class="row" *ngIf="listUsers">
            <div class="col-sm-12 mb-3 mt-3">
                <h4 class="text-center">Avalie a equipe da unidade <span style="color: var(--main-color);">{{ global?.loggedUser()?.value?.unidades | uppercase }}</span></h4>
            </div>
        </div> -->
        <!-- <div class="row">
            <div class="col-sm-3" style="padding: 5px 13px 14px; display: flex;flex-wrap: wrap; align-items: center;" *ngFor="let item of listUsers">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="card-avatar">
                            <img style="max-width: 100%; border-radius: 100%;" [src]="item?.picture  || 'assets/img/default-avatar.png'" alt="">
                        </div>
                        <mat-card-title>{{ (item?.name?.length > 20) ? (item?.name | slice:0:20)+'...' : (item?.name) }} </mat-card-title>
                        <mat-card-subtitle class="text-warning text-uppercase"><b>{{ item?.value?.cargos }}</b></mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>                 
                    </mat-card-content>
                    <mat-card-actions class="text-center">
                        <button class="btn btn-orange" style="background-color: var(--main-color); color: #fff;" mat-button [routerLink]="['/components/avalia-360/user/questions/answer', formID, item.id, type]" *ngIf="!item.answers">Avaliar</button>
                        <button class="btn btn-success" mat-button [routerLink]="['/components/avalia-360/user/questions/answer', formID, item.id, type]" *ngIf="item.answers">Avaliado</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div> -->
        <table cellspacing="5" class="mt-4">
            <caption class="d-block d-sm-none w-100">Colaboradores</caption>
            <thead>
              <tr>
                <th colspan="2" class="title text-uppercase">Colaboradores</th>
                <th>Cargo</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listUsers; let i = index">
                <td class="text-center w-5">{{ i + 1 }}</td>
                <td class="text-center text-sm-left">
                    <div class="d-flex align-items-center">
                        <img [src]="item?.picture  || 'assets/img/default-avatar.png'" 
                        style="width: 24px;
                        height: 22px;
                        border-radius: 50%;
                        margin-right: 10px;" alt="">       
                        <div style="margin-top: 2px;">{{ item?.name }}</div>
                    </div> 
                </td>
                <td>{{ item?.value?.cargos }}</td>
                <td class="text-center w-10 evaluation">
                  <a *ngIf="!item.answers" class="btn btn-block btn-primary" style="color: #fff;"[routerLink]="['/components/avalia-360/user/questions/answer', formID, item.id, type]">Avaliar</a>
                  <a *ngIf="item.answers" class="btn btn-block btn-success" [routerLink]="['/components/avalia-360/user/questions/answer', formID, item.id, type]">Avaliado</a>
                </td>
              </tr>
            </tbody>
          </table>
        <div class="row" *ngIf="!listUsers">
           <div class="col-sm-12">
            <div class="preloading">
                <i class="fa fa-spinner fa-spin fa-2x mb-2"></i>
                <p class="text fw-100">Carregando dados...</p>
            </div>
           </div>
        </div>
    </mat-tab>
    <mat-tab label="Relatórios" *ngIf="(isEnable == true)">
        <div class="row">
            <div class="col-sm-3" style="padding: 5px 13px 14px; display: flex;flex-wrap: wrap; align-items: center;" *ngFor="let item of listUsers">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="card-avatar">
                            <img style="max-width: 100%; border-radius: 100%;" [src]="item?.picture  || 'assets/img/default-avatar.png'" alt="">
                        </div>
                        <mat-card-title>{{ (item?.name?.length > 20) ? (item?.name | slice:0:20)+'...' : (item?.name) }} </mat-card-title>
                        <mat-card-subtitle class="text-warning text-uppercase"><b>{{ item?.value?.cargos }}</b></mat-card-subtitle>
                        <mat-card-subtitle class="text-warning text-uppercase">Média: <b>{{ item?.media}}</b></mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <!-- <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p> -->
                    </mat-card-content>
                    <!-- <mat-card-actions class="text-center">
                        <button class="btn btn-orange" style="background-color: var(--main-color); color: #fff;" mat-button [routerLink]="['/components/avalia-360/user/detail', formID, item.user_id]" *ngIf="!item.answers">Ver detalhes</button>
                        <button class="btn btn-success" mat-button [routerLink]="['/components/avalia-360/user/detail', formID, item.id]" *ngIf="item.answers">Ver detalhes</button>
                    </mat-card-actions> -->
                </mat-card>
            </div>
        </div>
        <div class="row" *ngIf="!listUsers">
            <div class="col-sm-12 mb-3 mt-3 text-center">
                <ngx-skeleton-loader animation="progress" [theme]="{height:'30px', 'border-radius': '5px'}"></ngx-skeleton-loader>
            </div>
            <div class="col-sm-3" *ngFor="let i of [0,1,2,3,4,5,6,7]">
                <ngx-skeleton-loader animation="progress" [theme]="{height:'190px', 'border-radius': '5px'}"></ngx-skeleton-loader>
            </div>
        </div>

    </mat-tab>
    <mat-tab label="Relatórios" *ngIf="(isEnable == false)">

        <ng-container *ngIf="evaluation">
            <div class="sectionsManagement row mt-4">
                <div class="col-sm-6 text-center text-sm-left">
                    <h4>{{ evaluation.user.name }}</h4>
                    <p class="fw-500" *ngIf="evaluation.user?.value?.cargos">{{ evaluation.user.value.cargos | uppercase }}</p>
                    <!-- <small *ngIf="evaluation.user.media.length > 0">Media: {{ evaluation.user.media[0].media | number: '1.0-2' }}</small> -->
                </div>

                <div class="col-sm-6">
                    <!-- <div class="info-nota" *ngFor="let notas of evaluation.painel">
                    <h5>{{ notas.item.value | uppercase }}</h5>
                    <div class="color-nota">{{ notas?.media[0]?.media | number: '1.0-2' }}</div>
                  </div>   -->


                    <div class="row">
                        <div class="col-sm-3 text-center" *ngFor="let notas of evaluation.painel">
                            <h6>{{ notas.item.value | uppercase }}</h6>
                            <p>{{ notas?.media[0]?.media | number: '1.0-2' }}</p>
                        </div>
                    </div>

                </div>

            

               
                <div class="col-sm-12 mt-5" *ngIf="evaluation.form.length > 0">
                    <!-- <div class="card mt-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-pfa">
                                    <thead>
                                        <tr>
                                            <th style="width: 85%;">Questão</th>
                                            <th style="width: 15%;" class="text-center">Media</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngIf="evaluation?.form">
                                            <tr *ngFor="let item of evaluation.form ; let i = index">
                                                <td><b>{{ i + 1 }}.</b> {{ item?.quest }}</td>
                                                <td class="text-center">
                                                    <strong>{{ item?.value | number: '1.0-2' }}</strong>
                                                    <mat-progress-bar mode="determinate" [value]="(item?.value / 5 ) * 100">
                                                    </mat-progress-bar>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> -->
                    
                    <table cellspacing="3" class="mb-5">
                        <caption class="d-block d-sm-none w-100">Questão</caption>
                        <thead>
                        <tr>
                            <th colspan="2" class="title text-uppercase">Questão</th>
                            <!-- <th class="text-center">Tamanho da amostra</th> -->
                            <!-- <th class="text-center">Média anterior</th> -->
                            <!-- <th class="text-center">Média atual</th> -->
                            <th class="text-center" style="width: 10%;">Média</th>
                        </tr>
                        </thead>
                        <tbody>
                        <ng-container *ngIf="evaluation?.form">
                            <tr *ngFor="let item of evaluation.form ; let i = index">
                                <td class="text-center w-5">{{ i + 1 }}</td>
                                <td class="w-50 text-center text-sm-left">{{ item?.quest }}</td>
                                <!-- <td class="text-center">{{ question.sample }}</td>                      -->
                                <td class="text-center">
                                    {{ item?.value | number: '1.0-2' }}
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar bg-primary" role="progressbar" [style.width.%]="(item?.value * 100) / 5" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                </td>
                            </tr>
                        </ng-container>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-12" style="margin-top: 50px;" *ngIf="evaluation.form.length == 0 && evaluation.list.length == 0">
                    <div class="p-3 mb-2 text-white" style="background-color: var(--main-color);">Não foi encontrada avaliação para este usuário.</div>
                </div>

                <div class="col-sm-12" *ngIf="evaluation.list.data.length > 0">
                    <!-- <div class="card mt-4">
                      <div class="card-body">
                        <div class="mb-4">
                          <h4>Usuários</h4>
                        </div>
                        <div class="table-responsive">
                          <table class="table table-striped table-pfa">
                            <thead>
                              <tr>
                                <th style="width: 5%;">#</th>
                                <th style="width: 80%;">Nome</th>
                                <th style="width: 15%;">Média</th>                
                              </tr>
                            </thead>
                            <tbody>
                              <ng-container>
                                <tr *ngFor="let item of evaluation.list; let i = index">
                                  <td>{{ i + 1 }}</td>                  
                                  <td *ngIf="item.user_id"><a  class="link-table" [routerLink]="['/components/avalia-360', folderID, formID, item.user_id, type]">{{ item.name }}</a></td>
                                  <td *ngIf="item.key && item.data && !item.user_id"><a  class="link-table" [routerLink]="['/components/avalia-360', folderID, formID, type, item.key, item.data]">{{ item.name }}</a></td>
                                  <td>
                                    <strong>{{ (item?.media.length > 0) ? (item.media[0].value | number: '1.0-2') : (item.media) }}</strong>
                                  </td>    
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>

                      </div>
                    </div>
                  </div> -->

                    <table cellspacing="5" class="mb-5 mt-4"  *ngIf="evaluation.form.length == 0">
                        <caption class="d-block d-sm-none w-100">Usuários</caption>
                        <thead>
                            <tr>
                                <th colspan="2" class="title text-uppercase">Usuários</th>
                                <th class="text-center w-14">Média</th>
                                <th class="actions"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of evaluation.list.data; let i = index">
                                <!-- <code>{{ item | json }}</code> -->
                                <td class="text-center w-5">{{ i + 1 }}</td>
                                <td *ngIf="item.user_id" class="text-center text-sm-left"><a [routerLink]="['/components/avalia-360', folderID, formID, item.user_id, type]">{{ item.name }} </a></td>
                                <td *ngIf="item.type && item.value && !item.user_id" class="text-center text-sm-left"><a [routerLink]="['/components/avalia-360', folderID, formID, type, item.type, item.value]">{{ item.value }} </a></td>
                                <td class="text-center">{{ (item?.media.length > 0) ? (item.media[0].value | number: '1.0-2') : (item.media) }}</td>
                                <td *ngIf="item.user_id" class="text-center"><a [routerLink]="['/components/avalia-360', folderID, formID, item.user_id, type]"><i class="fa fa-eye"></i></a></td>
                                <td *ngIf="item.type && item.value && !item.user_id" class="text-center"><a [routerLink]="['/components/avalia-360', folderID, formID, type, item.type, item.value]"><i class="fa fa-eye"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="loading" class="text-center mb-3">
                        <span>Carregando mais dados...  <i class="fa fa-circle-o-notch fa-spin fa-fw"></i></span>
                    </div>
                    <div *ngIf="currentPage < lastPage" class="text-center">
                        <button class="btn btn-orange"  style="background: var(--main-color); color: #fff;" (click)="loadMore()" [disabled]="loading"> Carregar mais</button>
                    </div>              
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="!evaluation">
            <div class="mt-4">
                <asap-skeleton type="lines" lineWidth="60%" lineHeight="20px"></asap-skeleton>
                <asap-skeleton type="lines" lineWidth="80%" lineHeight="20px"></asap-skeleton>
                <asap-skeleton type="lines" lineWidth="100%" lineHeight="40px" [lines]="10"></asap-skeleton>
            </div>
        </ng-container>

    </mat-tab>
</mat-tab-group>