<!-- <div class="row">
    <div class="col-sm-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a (click)="clearNavigate()">{{ 'Home' | translate }}</a></li>
          <li class="breadcrumb-item"> 
              <a [routerLink]="['/components/avalia-360/', questions[0]?.sub_folder_id, questions[0]?.item_id, this.global.loggedUser().id, type]">Lista de colaboradores da unidade</a>
          </li>
          <li class="breadcrumb-item active d-none d-sm-block" aria-current="page"> 
          {{ userInfo.name }}
        </li>
        </ol>
      </nav>
    </div>
</div> -->
<app-avalia-360-breadcrumb></app-avalia-360-breadcrumb>

<div class="row">
    <div class="col-sm-12">
        <div class="user-info">
            <div class="image-avatar">
                <img class="img-avas" [src]="userInfo.picture || 'assets/img/default-avatar.png'" alt="" /> 
            </div>
            <div class="info-avatar">
                <h4>{{userInfo.name}}</h4>
                <h5>{{userInfo.value.cargos}}</h5>
                <h5>{{userInfo.value.unidades}}</h5>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12"> 
        <mat-horizontal-stepper #stepper>
            <mat-step>
            <ng-template matStepLabel>Avaliação</ng-template>
            <ng-container *ngIf="rating">
            
                <div class="card card-management mt-4" *ngFor="let item of questions; let i = index">
                    <div class="card-body">
                        <div class="number">{{i + 1}}</div>
                        <div class="question">{{item.quest}}</div>
                        <!-- <div class="complement">{{item.orientation}}</div> -->
                    </div>
                    <div class="card-footer text-center">
                        <!-- <div *ngIf="item.type == 'rating'"> -->
                        <div class="rating" *ngIf="answers">
                            <p>Oferece pouco</p>
                            <div class="rating-group">
                            <!-- {{answers | json}} -->
                            
                            <!-- <mat-radio-group [(ngModel)]="answers">
                                <mat-radio-button *ngFor="let i of [1,2,3,4,5]" [value]="i">
                                    <i class="rating-icon rating-icon-star fa fa-star"></i>
                                </mat-radio-button>                            
                            </mat-radio-group> -->
        
                            <input disabled checked class="rating-input rating-input-none"  type="radio">
        
                            <label class="rating-label" (click)="doAnswer(item.id,1)" (mouseenter)="item.over=1" (mouseleave)="item.over=undefined" [class.active]="(answers[item.id]>=1) || (item.over>=1)">
                                <i class="rating-icon rating-icon-star fa fa-star"></i>                               
                            </label>
                            <label class="rating-label" (click)="doAnswer(item.id,2)" (mouseenter)="item.over=2" (mouseleave)="item.over=undefined" [class.active]="(answers[item.id]>=2) || (item.over>=2)">
                                <i class="rating-icon rating-icon-star fa fa-star"></i>                               
                            </label>
                            <label class="rating-label" (click)="doAnswer(item.id,3)" (mouseenter)="item.over=3" (mouseleave)="item.over=undefined" [class.active]="(answers[item.id]>=3) || (item.over>=3)">
                                <i class="rating-icon rating-icon-star fa fa-star"></i>                               
                            </label>
                            <label class="rating-label" (click)="doAnswer(item.id,4)" (mouseenter)="item.over=4" (mouseleave)="item.over=undefined" [class.active]="(answers[item.id]>=4) || (item.over>=4)">
                                <i class="rating-icon rating-icon-star fa fa-star"></i>                               
                            </label>
                            <label class="rating-label" (click)="doAnswer(item.id,5)" (mouseenter)="item.over=5" (mouseleave)="item.over=undefined" [class.active]="(answers[item.id]>=5) || (item.over>=5)">
                                <i class="rating-icon rating-icon-star fa fa-star"></i>                               
                            </label>
                    
                            
    <!--     
                            <label aria-label="2 stars"  class="rating-label" (click)="doAnswer(item.id,2)" [ngClass]="{'active btn-primary': (answer[item.id]==1)}">
                                <i class="rating-icon rating-icon-star fa fa-star"></i>
                                <input class="rating-input"  [(ngModel)]="answers.twoStar" value="2" type="radio">
                            </label> -->
        
                            <!-- <label aria-label="3 stars"  class="rating-label" for="{{item.threeStars}}">
                                <i class="rating-icon rating-icon-star fa fa-star"></i>
                            </label>
                            <input class="rating-input" [checked]="starIndex(3)==3"  id="{{item.threeStars}}" value="{{item.threeStars}}"[(ngModel)]="answers.threeStars" type="radio">
        
                            <label aria-label="4 stars"  class="rating-label" for="{{item.fourStars}}">
                                <i class="rating-icon rating-icon-star fa fa-star"></i>
                            </label>
                            <input class="rating-input" [checked]="starIndex(4)==4"  id="{{item.fourStars}}" value="{{item.fourStars}}"[(ngModel)]="answers.fourStars" type="radio">
        
                            <label aria-label="5 stars"  class="rating-label" for="{{item.fiveStars}}">
                                <i class="rating-icon rating-icon-star fa fa-star"></i>
                            </label>
                            <input class="rating-input" [checked]="starIndex(4)==5" id="{{item.fiveStars}}" value="{{item.fiveStars}}"[(ngModel)]="answers.fiveStars" type="radio"> -->
        
                            </div>
                            <p>Oferece muito</p>
                        <!-- </div> -->
                        </div>
                        <!-- <div class="alternative">
        
                        <div class="btn-group btn-group-alternative" role="group" aria-label="alternative" *ngIf="answer">
                            <button type="button" (click)="doAnswer(item.id,'no')" [ngClass]="{'active btn-primary': (answer[item.id]=='no')}" class="btn btn-default">Não</button>
                            <button type="button" (click)="doAnswer(item.id,'maybe')" [ngClass]="{'active btn-primary': (answer[item.id]=='maybe')}" class="btn btn-default">Ás vezes</button>
                            <button type="button" (click)="doAnswer(item.id,'yes')" [ngClass]="{'active btn-primary': (answer[item.id]=='yes')}" class="btn btn-default">Sim</button>
                        </div>
        
                        </div> -->
                    </div>
                </div>
            </ng-container>
    
            <ng-container *ngIf="!rating">
                <div class="row">
                <div class="col-sm-12" *ngFor="let item of [0,1,2,3]">              
                    <div class="card card-management mt-4">
                    <div class="card-body">
                        <div class="number">                    
                        </div>
                        <div class="question">
                        <asap-skeleton type="box" boxWidth="300px" boxHeight="20px"></asap-skeleton>
                        </div>
                        <asap-skeleton type="box" boxWidth="400px" boxHeight="18px"></asap-skeleton>                 
                    </div>  
                    <asap-skeleton type="box" boxWidth="100%" boxHeight="59px" ></asap-skeleton>                            
                    </div>
                </div>
                </div>
            </ng-container>
        
            <div class="text-center">       
                <button class="btn btn-dark mr-2"  [routerLink]="['/components/avalia-360/', questions[0]?.sub_folder_id, questions[0]?.item_id, this.global.loggedUser().id, type]"> Voltar </button>

                <button (click)="sendAnswer()" [disabled]="answered"   class="btn btn-primary mr-2"><i *ngIf="loading" class="fa fa-spin fa-spinner"></i> Enviar avaliação</button>
                <!-- <span matTooltipPosition="above" [matTooltipDisabled]="existeMedia" matTooltip="Aguardando as respostas do Líder ou Colaborador!">
                <button class="btn btn-dark"  [disabled]="!existeMedia" matStepperNext>Próximo</button>
                </span> -->
            </div>
        
            </mat-step>
            <mat-step *ngIf="existeMedia">
            <ng-template matStepLabel>Feedback</ng-template>
            <div class="row mt-4">
                <div class="col-sm-6">
                <div class="card">
                    <div class="card-body text-center">
                    <h3>{{ media[0]?.media }}</h3>                
                    <small>Média do líder</small>
                    
                    </div>
                </div>
                </div>
                <div class="col-sm-6">
                <div class="card">
                    <div class="card-body text-center">
                    <h3>{{ media[1]?.media }}</h3>
                    <small>Média do colaborador</small>                
                    </div>
                </div>
                </div>
                <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                    <p class="text-uppercase fw-500">Feedback</p>
                    <mat-form-field class="w-100">
                        <textarea rows="5" matInput placeholder="Digite seu comentário"></textarea>
                    </mat-form-field>
                    </div>
                </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary mr-2" matStepperPrevious>Anterior</button>
                <button class="btn btn-dark">Enviar feedback</button>
            </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>