<div class="row">
    <div class="col-sm-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="['/']" >{{ 'Home' | translate }}</a>
          </li>
          <li class="breadcrumb-item active d-none d-sm-block" aria-current="page">
            {{ 'Details' | translate }}
          </li>
        </ol>
      </nav>
    </div>
</div>

<ng-container *ngIf="evaluation">
    <div class="row">
        <div class="col-sm-12">
            <h4>{{ evaluation.user[0].name }}</h4>
            <h5>{{ evaluation.user[0].cargo | uppercase }}</h5>
            <hr>
        </div>
        <div class="col-sm-12">
            <div class="card mt-4">
                <div class="card-body">
                  <div class="mb-4">
                    <b>{{ 'Period' | translate }}:</b> {{ evaluation?.periodo[0].name }}  {{ 'of' | translate }}
                    {{ evaluation?.periodo[0].date_start | date}}  {{ 'to' | translate }}
                    {{ evaluation?.periodo[0].date_end | date }}
                  </div>
                  <div class="table-responsive">
                    <table class="table table-striped table-pfa">
                      <thead>
                        <tr>
                          <th class="w-50">{{ 'Question' | translate }}</th>
                          <th class="text-center">{{ 'SampleSize' | translate }}</th>
                          <th class="text-center">{{ 'PreviousAverage' | translate }}</th>
                          <th class="text-center">{{ 'CurrentAverage' | translate }}</th>
                          <th class="text-center">{{ 'GlobalAverage' | translate }}
                            <i class="fa fa-question-circle" matTooltip="{{ 'GlobalAverageIsTheAverageConsideringALLNetworkUsers' | translate }}"></i>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngIf="evaluation?.form">
                          <tr *ngFor="let item of evaluation.form ; let i = index">
                            <td><b>{{ i + 1 }}.</b> {{ item?.quest }}</td>
                            <td class="text-center">
                              <strong>{{ item?.qtd }}</strong>
                            </td>
                            <td class="text-center">
                              <strong>{{ item?.MdAnterior }}</strong>
                              <mat-progress-bar mode="determinate"
                                [value]="(item?.MdAnterior / 5 ) * 100">
                              </mat-progress-bar>
                          </td>
                          <td class="text-center">
                            <strong>{{ item?.MdAtual }}</strong>
                            <mat-progress-bar mode="determinate" [value]="(item?.MdAtual / 5 ) * 100">
                            </mat-progress-bar>
                          </td>
                          <td class="text-center">
                            <strong>{{ item?.MdGlobal }}</strong>
                            <mat-progress-bar mode="determinate" [value]="(item?.MdGlobal / 5 ) * 100">
                            </mat-progress-bar>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!evaluation">
    <asap-skeleton type="lines" lineWidth="60%" lineHeight="20px"></asap-skeleton>
    <asap-skeleton type="lines" lineWidth="80%" lineHeight="20px"></asap-skeleton>
    <asap-skeleton type="lines" lineWidth="100%" lineHeight="40px" [lines]="10"></asap-skeleton>
</ng-container>


