<div class="row">
    <div class="col-sm-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="['/']" >{{ 'Home' | translate }}</a>
          </li>
          <li class="breadcrumb-item active d-none d-sm-block" aria-current="page">
            {{ 'SeniorListing' | translate }}
          </li>
        </ol>
      </nav>
    </div>
  </div>

<ng-container *ngIf="permission">
    <div class="row">
        <div class="col-sm-12 mt-3">
            <h4>{{ 'Overview' | translate }}</h4>
            <hr>
        </div>
        <div class="col-sm-3 mt-3">
            <mat-card class="example-card">
                <mat-card-header class="text-center w-100">
                  <mat-card-title class="w-100">{{ 'GlobalGoal' | translate }}</mat-card-title>
                  <mat-card-title>{{ permission.global }}</mat-card-title>
                </mat-card-header>
            </mat-card>
        </div>
        <div class="col-sm-3 mt-3">
            <mat-card class="example-card">
                <mat-card-header class="text-center w-100">
                  <mat-card-title class="w-100">{{ 'SeniorGoal' | translate }}</mat-card-title>
                  <mat-card-title>{{ permission.senior }}</mat-card-title>
                </mat-card-header>
            </mat-card>
        </div>
        <div class="col-sm-3 mt-3">
            <mat-card class="example-card">
                <mat-card-header class="text-center w-100">
                  <mat-card-title class="w-100">{{ 'RegionalGoal' | translate }}</mat-card-title>
                  <mat-card-title>{{ permission.regional }}</mat-card-title>
                </mat-card-header>
            </mat-card>
        </div>
        <div class="col-sm-3 mt-3">
            <mat-card class="example-card">
                <mat-card-header class="text-center w-100">
                  <mat-card-title class="w-100">{{ 'LeaderGoal' | translate }}</mat-card-title>
                  <mat-card-title>{{ permission.lider }}</mat-card-title>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="data">
    <div class="row">
        <div class="col-sm-4 mt-3" *ngFor="let item of data.data.user">
            <mat-card class="example-card">
                <mat-card-header class="text-center">
                  <mat-card-title>{{ item.name }}</mat-card-title>
                  <mat-card-subtitle>{{ item.cargo | uppercase }} / <b>{{ item.unidade }}</b></mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions class="text-center">
                  <button class="btn-primary" mat-button [routerLink]="['/components/pfa/senior/list/', item.id]">{{ 'View' | translate }}</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</ng-container>
