<div class="row">
  <div class="col-sm-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']" >{{ 'Home' | translate }}</a></li>
        <li class="breadcrumb-item active d-none d-sm-block" *ngIf="permission != 'lider'" aria-current="page">
          {{ 'RegionalListing' | translate }}
        </li>
        <li class="breadcrumb-item active d-none d-sm-block" *ngIf="permission == 'lider'" aria-current="page">
          {{ 'LeaderListing' | translate }}
        </li>
      </ol>
    </nav>
  </div>
</div>

<ng-container *ngIf="data">
    <div class="row">
        <div class="col-sm-4 mt-3" *ngFor="let item of data.data.user">
            <ng-container *ngIf="item?.name">            
              <mat-card class="example-card">
                  <mat-card-header class="text-center w-100">
                    <mat-card-title class="w-100">{{ item.name }}</mat-card-title>
                    <mat-card-subtitle>{{ item.cargo | uppercase }} / <b>{{ item.unidade }}</b></mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-actions class="text-center">
                    <button mat-button [routerLink]="['/components/pfa/regional/', item.id]">{{ 'View' | translate }}</button>
                  </mat-card-actions>
                </mat-card>
            </ng-container>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!data?.data?.user">
    <div class="row">
        <div class="col-sm-4 mt-3" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9]">
            <asap-skeleton type="box" boxWidth="100%" boxHeight="150px"></asap-skeleton>
        </div>
    </div>
</ng-container>


