.btn {
  text-transform: uppercase;
  font-size: 14px;
}

.btn-xs {
  padding: 0.18rem 0.375rem;
  font-size: 10px;
  letter-spacing: 1px;
}

.btn-warning {
  color: #fff;
  &:hover, &:focus {
    color: #fff;
  }
}

.btn-primary {
  color: var(--text-btn);
  background-color: var(--bg-btn);
  border-color: var(--bg-btn);
  &:hover {
    color: var(--text-btn);
    background-color: var(--bg-btn);
    border-color: var(--bg-btn);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(57, 75, 85, 0.2);
  }
  &:focus, &.focus {
    background-color: var(--bg-btn);
    border-color: var(--bg-btn);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(57, 75, 85, 0.2);
  }
  &.disabled, &:disabled {
    color: var(--text-btn);
    background-color: var(--bg-btn);
    border-color: var(--bg-btn);
  }
  &:not(:disabled):not(.disabled) {
    &:active, &.active {
      color: var(--text-btn);
      background-color: var(--bg-btn);
      border-color: var(--bg-btn);
    }
  }
}

.show > .btn-primary.dropdown-toggle {
  color: var(--text-btn);
  background-color: var(--bg-btn);
  border-color: var(--bg-btn);
}

.btn-primary:not(:disabled):not(.disabled) {
  &:active:focus, &.active:focus {
    box-shadow: 0 0 0 0.2rem rgba(200,200,200,0.5);
  }
}

.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(200,200,200,0.5);
}

// Botão menu flutuante

.btn-float {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  z-index: 1040;
  // animation: botttom-to-top 2s ease-out;
  i {
    color: #fff;
    font-size: 24px;
  }
}

a#menu-rotate {
  + ul {
    visibility: hidden;
  }
  &:hover + ul {
    visibility: visible;
    animation: scale-in 0.5s;
  }
  i {
    animation: rotate-in 0.5s;
  }
  &:hover > i {
    animation: rotate-out 0.5s;
  }
}

@keyframes scale-in {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes rotate-in {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-out {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}
