.card {
  border: none;
  border-radius: 12px;
  box-shadow: 1px 1px 5px rgba(201, 191, 187, 0.3);
  -moz-box-shadow: 1px 1px 5px rgba(201, 191, 187, 0.3);
  -webkit-box-shadow: 1px 1px 5px rgba(201, 191, 187, 0.3);
  margin-bottom: 30px;
  outline: none;

  .card-footer {
    background: #f9f9f9;
  }
}


.card-search {
  background: #f4f4f4;
  margin-bottom: 30px;

  h6 {
    text-transform: uppercase;
    font-size: 14px;
  }

  .form-group {
    margin: 0;

    label {
      margin: 15px 0 5px;
      font-weight: 500;
      font-size: 14px;
    }

    .form-control {
      margin: 0;

      input {
        outline: none;
        box-shadow: none;
      }
    }
  }
}

.card-management {
  .link {
    position: absolute;
    top: 10px;
    right: 10px;

    i {
      font-size: .9em;
      color: #515151;
    }
  }

  h4 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;

  }

  p {
    font-size: 0.9em;
    margin-bottom: 10px;
  }

  small {
    font-size: 0.8em;
    color: #777;
    font-weight: 500;

    span {
      color: #ccc;
    }
  }

  .chips {
    height: 20px;
    margin-bottom: 5px;

    ul {
      display: flex;

      li {
        background: #515151;
        color: #fff;
        font-size: 0.7em;
        margin: 0 5px 0 0;
        padding: 0 7px;
        border-radius: 30px;
      }
    }
  }

  .text-success {
    color: #3ca857;
  }

  .text-warning {
    color: #f4ac1e;
  }

  .number {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: var(--main-color);
    font-size: 12px;
    font-weight: 500;
  }

  .question {
    padding: 0;
    background: transparent;
    margin-left: 30px;
    margin-bottom: 0;
    font-weight: 500;
  }

  .complement {
    margin-left: 30px;
    font-size: 12px;
  }

  .card-footer {
    border: none;
  }

}

.card-know {
  text-align: center;

  .link {
    position: absolute;
    top: 10px;
    right: 10px;

    i {
      font-size: .9em;
      color: #515151;
    }
  }

  .cover {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
  }

  h5 {
    color: #707070;
    margin-bottom: 10px;
  }
}

.card-user {
  .card-body {
    height: 230px;
  }

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
  }

  .age {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    font-size: 11px;
    border-radius: 50%;
    background: var(--bg-sidebar);
    color: var(--link-sidebar);
  }

  h5 {
    height: 25px;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 16px;
  }

  p {
    height: 20px;
    overflow: hidden;
    font-size: 14px;
  }
}

.card-dashboard {
  height: 480px;

  .question {
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;

    .avatar {
      float: left;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      border-radius: 50%;
    }

    p {
      margin-left: 50px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.card-info {
  p {
    font-size: 14px;
    font-weight: 500;
    color: #bbb;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  h4 {
    font-size: 30px;
    color: var(--main-color);
  }
}

.helper-card {
  position: relative;
  bottom: 0;
  right: 0;
}

.helper-svg {
  fill: var(--bg-btn);
  color: var(--text-btn);
  position: absolute;
  bottom: 0;
  border-radius: 0;
  border: 0;
  right: 0;
  border-top-right-radius: 12px;
  transform: rotate(90deg);
}

.helper-svg-text {
  fill: #fff;
  font-size: 90px;
  transform: rotate(-90deg);
}

.card-gestao {
  .card-body {
    background: transparent;
    border: none;

    .user {
      display: flex;
      align-items: center;
      height: 100%;

      .avatar {
        width: 35px;
        height: 35px;
        margin-right: 15px;
        object-fit: cover;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }

      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.3;
        margin: 8px 0 0;
      }
    }

    p {
      font-weight: 500;
      font-size: 13px;
      text-transform: uppercase;
    }

    small {
      color: #999;
      font-size: 11px;
    }

    .badge {
      font-size: 10px;
      font-weight: 400;
      text-transform: uppercase;
      border-radius: 2px $im;
      margin: 0;
    }
  }
}