
.video {
  width: 100%;
  height: calc(100vh - 56px);
  iframe, video {
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    background: #000;
    margin: 40px;
  }
}

.intro {
  width: 100%;
  height: calc(100vh - 56px);
  .stage {
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    background: #FFF;
    border: 1px solid #eee;
    border-radius: 3px;
    margin: 40px 40px 0;
    padding: 40px;
  }
}

.view-more {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background: #fcb823;
  border-radius: 50%;
  top: -70px;
  transition: all .3s;
  &:hover {
    transition: all .3s;
    margin-top: -5px;
  }
  cursor: pointer;
  i {
    font-size: 24px;
    color: #fff;
  }
}

.target {
  position: sticky;
  top: 86px;
  margin: 0 40px;
}
