.alert {
  margin: 30px 0;
  font-size: 0.8em $im;
}

.clickable {
  cursor: pointer;
}

.table-custom {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;

  .title {
    background: var(--main-color);
    color: #fff;

    h6 {
      font-size: 14px;
      text-transform: uppercase;
      margin-top: 5px;
    }
  }

  th {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    vertical-align: middle;
  }

  td {
    font-size: 14px;

    i {
      color: var(--main-color);
    }

    .fa-trophy {
      font-size: 18px;
    }
  }
}

.badge {
  font-weight: 400;
}

.badge-primary {
  background: var(--main-color);
}

.carousel-stage {
  position: relative;
  z-index: 1;
  min-height: 100px;
  height: auto;

  .item {
    padding: 3px;

    .card {
      min-height: 100px;
      margin: 0;
    }
  }
}

.customNavigation {

  a {
    width: 20px;
    height: 100%;
    line-height: 1;
    opacity: 0.5;
    font-size: 20px;
    cursor: pointer;
    color: var(--main-color);

    &:hover {
      color: var(--main-color);
      opacity: 1;
    }
  }
}

.prev {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  top: -5px;
  left: -15px;
  z-index: 10;
}

.next {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  top: -5px;
  right: -15px;
  z-index: 10;
  text-align: right;
}

.mat-tooltip.tooltip {
  background-color: var(--main-color);
  font-size: 12px;
}

.card-image {
  img {
    max-width: 100%;
  }
}

.user-info {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row;
  margin-bottom: 35px;
}

.image-avatar {
  margin-right: 15px;
}

.img-avas {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.info-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-media {
  display: flex;
}

.info-nota {
  text-align: center;
  margin-right: 15px;
}

.color-nota {
  background-color: var(--main-color); 
  color: #fff;
  // border-radius: 50%;
  width: 39px;
  margin-top: 3px;
  margin-inline: auto;
}
