.box-management {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: #414141;
  text-align: center;
  padding: 20px 0 40px;

  h3 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.6em;
  }

  p {
    font-size: 0.9em;
    font-weight: 500;
    color: #777;
  }
}

.box-management-user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #414141;
  text-align: center;
  padding: 20px 0 40px;

  h3 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.5em;
  }

  p {
    font-size: 0.9em;
    font-weight: 500;
    color: #777;
  }
}

.section {
  padding: 0 0 40px;

  .section-title {
    border-left: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
    margin-bottom: 30px;
    padding: 0 15px;

    h5 {
      font-size: 0.9em;
      text-transform: uppercase;
      color: #777;

      span {
        color: var(--main-color);
      }
    }

    ul {
      display: flex;

      li {
        margin-left: 15px;
        color: #414141;
        font-size: 0.9em;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          opacity: 0.6;
          transition: all 0.3s;
        }

        &.active {
          color: var(--main-color);
        }

        &.history {
          color: #ccc;
        }

        &.disable {
          color: #ccc;
          cursor: not-allowed;
        }
      }
    }
  }
}

.banner-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 0 40px;

  .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 15px;
  }

  h3 {
    font-size: 1.75rem;
    margin-top: 7px;
    line-height: 1;
    color: #555;
  }

  p {
    font-size: 1rem;
    margin: 0;
    color: #888;
  }

  small {
    color: #999;
    text-transform: uppercase;
  }
}

.header-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 0;
  margin-bottom: 15px;

  .avatar {
    width: 25px;
    height: 35px;
    border-radius: 50%;
    margin-right: 15px;
  }

  h4 {
    font-size: 0.9em;
    margin-top: 7px;
    line-height: 1;
  }

  p {
    font-size: 0.7em;
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
  }
}



// .card-management {

//   .number {
//     float: left;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 20px;
//     height: 20px;
//     border-radius: 4px;
//     background: var(--main-color);
//     font-size: 12px;
//     font-weight: 500;
//   }

//   .question {
//     padding: 0;
//     background: transparent;
//     margin-left: 30px;
//     margin-bottom: 0;
//     font-weight: 500;
//   }

//   .complement {
//     margin-left: 30px;
//     font-size: 12px;
//   }

//   .card-footer {
//     border: none;
//     background: #f6f6f6;
//   }
// }

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;

  p {
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 15px;
    font-weight: 500;
  }

  .rating-group {
    display: inline-flex;
  }

  .rating-icon {
    pointer-events: none;
  }

  .rating-input {
    position: absolute !important;
    left: -9999px !important;
  }

  .rating-input-none {
    display: none
  }

  .rating-label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 1.5rem;
    &.active {
      .rating-icon-star {
        color: orange !important;
      }
    }
  }

  .rating-icon-star {
    color: orange;
  }

  .rating-input:checked~.rating-label .rating-icon-star {
    color: #ddd;
  }

  .rating-group:hover .rating-label .rating-icon-star {
    _color: orange;
  }

  .rating-input:hover~.rating-label .rating-icon-star {
    color: #ddd;
  }
}

.btn-group-alternative {

  .btn-alternative {
    color: #555;
    background-color: #ddd;
    border-color: #ddd;

    &:hover {
      color: var(--text-btn);
      background-color: var(--bg-btn);
      border-color: var(--bg-btn);
      box-shadow: none;
    }

    &:focus,
    &.focus {
      color: var(--text-btn);
      background-color: var(--bg-btn);
      border-color: var(--bg-btn);
      box-shadow: none;
    }

    &.disabled,
    &:disabled {
      color: var(--text-btn);
      background-color: var(--bg-btn);
      border-color: var(--bg-btn);
    }

    &:not(:disabled):not(.disabled) {

      &:active,
      &.active {
        color: var(--text-btn);
        background-color: var(--bg-btn);
        border-color: var(--bg-btn);
      }
    }
  }

  .show>.btn-alternative.dropdown-toggle {
    color: var(--text-btn);
    background-color: var(--bg-btn);
    border-color: var(--bg-btn);
  }

  .btn-alternative:not(:disabled):not(.disabled) {

    &:active:focus,
    &.active:focus {
      box-shadow: none;
    }
  }

  .show>.btn-alternative.dropdown-toggle:focus {
    box-shadow: none;
  }

}

.table-skills {
  thead {
    th {
      font-weight: 500 $im;
    }
  }

  tbody {
    border: none $im;

    &:nth-of-type(odd) {
      background-color: #f7f7f7;
    }

    td {
      vertical-align: middle !important;
    }

  }

}

.input-file {
  border: 1px solid #eee;
  border-radius: 0.25rem;
  color: #818182;
  background-color: rgba(248, 248, 248, .5);
  padding: 1.25rem 1.25rem;

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;

    i {
      font-size: 40px;
    }
  }

  #upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
}

.contributors {
  margin: 0;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 10px 20px;
    transition: all .3s;

    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .data {
      .name {
        font-size: 0.85em;
        font-weight: 500;
        margin: 0;
      }

      .text {
        font-size: 0.75em;
        color: gray;
      }

      .badge {
        font-size: 9px;
        font-weight: 400;
        text-transform: uppercase;
        border-radius: 2px !important;
        margin: 0;
        padding: 3px;
      }
    }

    &:nth-of-type(odd) {
      background-color: #f7f7f7;
    }

    &:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &:hover {
      background: #eee;
      transition: all .3s;
    }
  }

}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.clickable {
  cursor: pointer;
  outline: 0;
}

.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: transparent;

  li {
    color: #414141;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;

    a {
      color: #414141;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 12px;

      &:hover {
        color: #414141;
        text-decoration: none;
      }
    }

    &.active {
      color: #aaa;
    }
  }
}

.card-management-tab {

  .cover {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
  }

  .status {
    position: absolute;
    right: 15px;
    top: 0;
    font-size: 12px;
    background: var(--main-color);
    text-transform: uppercase;
    padding: 2px 5px;
    border-radius: 3px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .material-icons {
      font-size: 14px;
      margin-left: 10px;
      font-weight: 500;
      margin-top: 2px;
    }
  }

  .feedback {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;

    i {
      margin-left: 3px;
    }
  }

  .items {
    margin: 5px 0 0;
    padding: 0;

    li {
      float: left;
      margin-right: 30px;

      p {
        font-size: 12px;
        color: #666;

        span {
          margin-right: 5px;
        }

        i {
          color: #999;

          &:hover {
            color: var(--main-color);
          }
        }
      }

      h4 {
        font-size: 14px;
      }

      &:last-child {
        float: none;
      }
    }
  }

  .text-feedback {
    p {
      font-size: 13px;
      color: #666;
    }
  }

}

.table-pfa {

  th,
  td {
    font-size: 13px;
    vertical-align: middle;
  }
}

.progress-bar {
  background: var(--main-color) $im;
}

.mat-progress-bar-fill::after {
  background-color: var(--main-color);
}

.fw-500 {
  font-weight: 500;
}

.border-bottom {
  border-bottom: 1px solid #f4f4f4;
}

.link-table {

    color: #414141;
    // text-transform: uppercase;
    // font-weight: 500;
    // font-size: 12px;
    &:hover {
    color: var(--main-color);
      text-decoration: none;
    }
 
}