
// MAT-CHECKBOX

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: var(--main-color);
}

.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: var(--main-color);
}

// MAT-SELECT

.cdk-overlay-container {
  z-index: 1050;
}

// MAT-TAB
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: var(--main-color) $im;
}

// .mat-tab-body-content {
//   overflow-x: hidden $im;
//   min-height: calc(100vh - 156px);
//   height: auto;
//  }

// .mat-tab-list {
//   display: inline-flex $im;
//   justify-content: center $im;
//   align-items: center $im;
// }

.mat-tab-label, .mat-tab-link {
  text-transform: uppercase;
}

// MAT-INPUTS

.mat-form-field .mat-form-field-ripple  {
  background-color: var(--main-color);
 }

.mat-form-field.mat-focused .mat-form-field-ripple  {
  background-color: var(--main-color) $im;
}

.mat-form-field .mat-form-field-label {
  color: #333 $im;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: var(--main-color) $im;
}

// MAT-MENU

.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
  outline: 0 $im;
  }

.mat-menu-panel {
  min-width: 200px $im;
  border-radius: 6px $im;
  outline: none;
  .mat-menu-content:not(:empty) {
      padding-top: 0;
      padding-bottom: 0;
  }
  .mat-menu-item {
    color: var(--main-color);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
    outline: none;
  }
}

// MAT RADIO GROUP
// MAT RADIO GROUP
.mat-radio-button.mat-accent .mat-radio-inner-circle { background-color: var(--main-color); }

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle { border-color: var(--main-color); }

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element { background-color:rgba(200,200,200,0.5) $im; }

.radio-group { margin: 15px 0 $im; }

// MAT stepper

mat-horizontal-stepper {
  background: transparent $im;
}
.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: var(--main-color);
    color: #fff;
}

// MAT-SPINNER
.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  .mat-spinner, .mat-spinner svg {
    width: 50px $im;
    height: 50px $im;
  }
  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: var(--main-color);
    stroke-dasharray: 282px $im;
    stroke-width: 7% $im;
  }
}

// BUTTON TOGGLE

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: var(--bg-btn) $im;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgba(48, 56, 65,.54) $im;
}

.mat-slide-toggle.mat-checked .mat-ripple-element {
    background-color: var(--bg-btn) $im;
}

// TOOLTIP

.tooltip-custom {
   font-size: .8em $im;
   background: var(--main-color);
   font-weight: 300;
 }
