.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background: var(--bg-navbar);
  border-radius: 0;
  transition: all 0.3s;
  z-index: 999;
  &.active {
    width: 100%;
    left: 0;
  }
  .logo {
    height: 30px;
    width: auto;
    outline: none;
    cursor: pointer;
  }
  i {
    font-size: 12px;
    color: var(--bg-navbar);
  }
  .nav-link, .btn-toggler {
    color: var(--link-navbar);
    i {
      font-size: 18px;
      color: var(--link-navbar);
    }
    &:hover {
      color: var(--link-navbar);
      border-radius: 3px;
    }
  }
  .nav-link {
    margin-left: 20px;
  }
  .btn-toggler {
    margin-right: 20px;
    margin-left: 5px;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px 50px;
    width: 200px;
    height: 105px;
    background: var(--main-color);
    color: #fff;
    border-radius: 4px;
    i {
      font-size: 30px;
      margin-bottom: 10px;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.nav-pills .nav-link {
  border-radius: 0.25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: var(--main-color) $im;
}

.nav-centered  {
  display: flex;
  justify-content: center;
  text-align: center;
}


@media (max-width: 768px) {

  .navbar {
    width: 100%;
    left: 0;
    &.active {
      left: 0;
      width: 100%;
    }
  }

}
