#sidebar {
  width: 300px;
  position: fixed;
  top: 0;
  left: -300px;
  height: 100vh;
  z-index: 999;
  background: #151515;
  color: #fff;
  transition: all 0.3s;
  overflow: hidden;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	z-index: 1060;
	&.active {
		left: 0;
	}
  .sidebar-header {
    padding: 20px;
    img {
      height: auto;
      width: 75%;
    }
    h4 {
      font-size: 14px;
      font-weight: 500;
      margin-top: 15px;
    }
    h5 {
      font-size: 12px;
      font-weight: 400;
    }
  }
  .sidebar-menu {
		position: relative;
		top: 0;
		width: 100%;
		height: calc(100% - 120px);
		border-top: 1px solid rgba(238, 238, 238, 0.05);
		overflow-y: auto;
		overflow-x: hidden;
    ul {
      li {
        a {
          padding: 12px 20px;
          font-size: 1em;
          font-weight: 300;
          display: block;
          color: #fff $im;
          &:hover {
            color: #fff $im;
            background: rgba(0,0,0,0.2);
          }
          &:focus {
            color: #fff $im;
            background: rgba(0,0,0,0.2);
          }
          i {
            margin-right: 20px;
          }
        }
        .current {
          color: #fff $im;
          background: rgba(0,0,0,0.2);
          border-left: 4px solid var(--main-color);
        }
      }
    }
	}
}

.triangle {
  position: absolute;
  right: -1px;
  width: 0;
  height: 0;
  border-top: 40px solid rgba(0,0,0,0.2);
  border-right: 40px solid rgba(0,0,0,0.2);
  border-bottom: 40px solid transparent;
  border-left: 40px solid transparent;
  cursor: pointer;
  i {
    position: relative;
    top: -25px;
    right: -8px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
  }
}
