$im: !important;

:root {

  --app-logo: url(https://logodownload.org/wp-content/uploads/2014/09/google-logo-1.png);
  --main-color: #f4ac1e !important;
  --secondary-color: #1f2123 !important;

  --bg-navbar: #1f2123 !important;
  --link-navbar: white !important;

  --bg-sidebar: rgba(31, 33, 35, 1) !important;
  --link-sidebar: white !important;

  --bg-footer: #f4ac1e !important;
  --link-footer: #f4ac1e !important;

  --bg-btn: #f4ac1e !important ;
  --text-btn: white !important;

  --bg-sidebar-course: #f4ac1e !important;
  --bg-btn-course: #f4ac1e !important;
  --text-btn-course: #f4ac1e !important;
  --text-btn-course-active: #f4ac1e !important;

  --bg-client: white !important;
}
