.wrapper {
  display: flex;
  align-items: stretch;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 56px;
  right: 0;
}

.container {
  max-width: 1100px;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1055;
  opacity: 0;
  transition: all 0.5s ease-in-out;

  &.active {
    display: block;
    opacity: 1;
  }
}

@media (max-width: 768px) {
  #content {
    width: 100%;

    &.active {
      width: 100%;
    }
  }
}