<div class="row">
    <div class="col-sm-12">
      <nav aria-label="breadcrumb" *ngIf="questions && !inputFormID">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/']" >{{ 'Home' | translate }}</a></li>
          <li class="breadcrumb-item"> 
            <a [routerLink]="['/components/avalia-360/', questions[0]?.sub_folder_id, questions[0]?.item_id]">Lista de colaboradores da unidade</a>
          <!-- {{ 'SeniorListing' | translate }} -->
          </li>
          <li class="breadcrumb-item active d-none d-sm-block" aria-current="page"> 
            {{ userInfo?.name }}
          </li>
        </ol>
      </nav>
    </div>
</div>

<ng-container *ngIf="userInfo">
    <div class="row mt-4">
        <div class="col-sm-12">
            <h4>{{ userInfo?.name }}</h4>
            <h5>{{ userInfo?.value?.cargos | uppercase }}</h5>
            <hr>
        </div>
        <div class="col-sm-12">
            <div class="card mt-4">
                <div class="card-body">
                  <div class="mb-4">
                    <b>Período:</b> {{ questions[0]?.name }} de
                    {{ questions[0]?.date_start | date}} até
                    {{ questions[0]?.date_end | date }}
                  </div>
                  <div class="table-responsive">
                    <table class="table table-striped table-pfa">
                      <thead>
                        <tr>
                          <th class="w-50">Questão</th>
                          <th class="text-center">Tamanho da amostra</th>
                          <!-- <th class="text-center">Média anterior</th> -->
                          <th class="text-center">Média</th>
                          <!-- <th class="text-center">Média global <i class="fa fa-question-circle"
                            matTooltip="Média Global é a média considerando TODOS os usuários da Rede"></i>
                          </th> -->
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container>
                          <tr *ngFor="let item of questions ; let i = index">
                            <td><b>{{ i + 1 }}.</b> {{ item?.quest }}</td>
                            <td class="text-center">
                              <strong>{{ item?.qtd }}</strong>
                            </td>
                            <!-- <td class="text-center">
                              <strong>{{ item?.MdAnterior }}</strong>
                              <mat-progress-bar mode="determinate"
                                [value]="(item?.MdAnterior / 5 ) * 100">
                              </mat-progress-bar>
                          </td> -->
                          <td class="text-center">
                            <strong>{{ userInfo?.media }}</strong>
                            <mat-progress-bar mode="determinate" [value]="(userInfo?.media / 5) * 100">
                            </mat-progress-bar>
                          </td>
                          <!-- <td class="text-center">
                            <strong>{{ item?.MdGlobal }}</strong>
                            <mat-progress-bar mode="determinate" [value]="(item?.MdGlobal / 5 ) * 100">
                            </mat-progress-bar>
                          </td> -->
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!questions">
    <asap-skeleton type="lines" lineWidth="60%" lineHeight="20px"></asap-skeleton>
    <asap-skeleton type="lines" lineWidth="80%" lineHeight="20px"></asap-skeleton>
    <asap-skeleton type="lines" lineWidth="100%" lineHeight="40px" [lines]="10"></asap-skeleton>
</ng-container>


