<!-- 
<nav class="navbar navbar-expand-lg shadow-sm">
  <a class="sidebarCollapse btn-toggler">
    <i class="fa fa-bars"></i>
  </a>
  <img src="assets/img/logo-topo-portal-smartfit.png" class="logo" [routerLink]="['home']" alt="">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link">
          <i class="fa fa-close mt-1"></i>
        </a>
      </li>
    </ul>
  </div>
</nav> -->

<asap-navbar
  [hasSideMenu]="false"
  [hasSearchBar]="false"
  homeRoute="/"
  logoutLabel="Voltar para a Plataforma"
  (logout)="logout()"
  [logo]="image">
  
</asap-navbar>


