<nav id="sidebar" class="">
  <div class="triangle sidebarCollapse">
    <i class='fa fa-arrow-left'></i>
  </div>

  <div class="sidebar-header">
    <img src="assets/img/logo-topo-portal-smartfit.png" alt="">
    <h4>User Líder Teste</h4>
    <h5>userlider@plataformaasap.com.br</h5>
  </div>

  <div class="sidebar-menu">
    <ul>
      <li>
        <a [routerLink]="['home']">
          <i class="fa fa-home"></i>
          Ínicio
        </a>
      </li>
      <li *ngFor="let menu of menus">
        <a [routerLink]="['components', menu.type]">
          <i class="{{menu.icon}}"></i>
          {{menu.text}}
        </a>
      </li>
    </ul>
  </div>
</nav>
