<div class="card mb-4">
  <div class="card-body">
    <p class="mb-3 text-uppercase fw-500 fs-12">Competências</p>
    <div class="progress mb-3" style="height: 15px; border-radius: 4px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="70"
      aria-valuemin="0" aria-valuemax="100" style="width:70%">
        70%
      </div>
    </div>
  </div>
  <div class="helper-card">
    <svg matTooltip="São caracteristicas humanas que facilitam o relacionamento entre individuos, gerando resultados edificantes." aria-hidden="true" class="helper-svg" height="40" viewBox="0 0 250 250" width="40">
      <path  d="M0,0 L115,115 L115,115 L142,142 L250,250 L250,0 Z"></path>
      <text class="helper-svg-text" x="-100" y="200">?</text>
    </svg>
  </div>
</div>
