<div class="card mb-4">
  <div class="card-body mb-3 pb-0">
    <p class="mb-0 text-uppercase fw-500 fs-12">Colaboradores</p>
  </div>
  <ul class="contributors" *ngIf="!loading && contributors">
    <li class="pointer clickable" (click)="doSelectUser(item)" *ngFor="let item of contributors">
      <div><img [src]="item?.user?.picture || 'assets/img/default-avatar.png'" class="avatar" alt=""></div>
      <div class="data">
        <p class="name text-capitalize">{{item?.user?.name | asapLimitTo:20}}</p>
        <div class="badge" [ngClass]="{'badge-success' : item?.status, 'badge-danger' : !item?.status}">{{item?.status || 'não avaliado'}}</div>
      </div>
    </li>
  </ul>
  <ul class="contributors" *ngIf="loading || !contributors">
    <li *ngFor="let item of [0,1,2,3,4]">
      <asap-skeleton type="box" boxWidth="100%" boxHeight="50px"></asap-skeleton>
    </li>
  </ul>
  <div class="helper-card">
    <svg matTooltip="Clique no colaborador para avaliar" aria-hidden="true" class="helper-svg" height="40" viewBox="0 0 250 250" width="40">
      <path  d="M0,0 L115,115 L115,115 L142,142 L250,250 L250,0 Z"></path>
      <text class="helper-svg-text" x="-100" y="200">?</text>
    </svg>
  </div>
</div>

