<div class="row">
  <div class="col-sm-12">
    <div class="box-management">
      <h3>Conhecimentos</h3>
      <p>Inicie a sua jornada de auto conhecimento avaliando o status dos conhecimentos</p>
      <p>adquiridos e crie uma meta de superação.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']">{{ 'Home' | translate }}</a></li>
        <li class="breadcrumb-item active d-none d-sm-block" aria-current="page">
          {{ 'KnowMap' | translate }} / {{ user?.name }}
        </li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">

  <div class="col-sm-9">
    <div class="header-user" *ngIf="!loading && user">
      <img [src]="user?.picture  || 'assets/img/default-avatar.png'" class="avatar" alt="">
      <div>
        <h4>{{ user.name }}</h4>
        <p>{{ user.value.cargos | uppercase }}</p>
      </div>
    </div>
    <div class="header-user" *ngIf="loading || !user">
      <img [src]="'assets/img/default-avatar.png'" class="avatar" alt="">
      <div>
        <asap-skeleton type="box" boxWidth="40%" boxHeight="20px"></asap-skeleton>
        <asap-skeleton type="box" boxWidth="100%" boxHeight="20px"></asap-skeleton>
      </div>
    </div>

    <ng-container *ngIf="courses">

      <div class="row">
        <div class="col-sm-4" *ngFor="let item of courses; let i = index">
          <div class="card card-know" [routerLink]="['/components/management/','user',user?.id,item?.id]">            
            <div class="card-body">
              <div class="link"><i class="fa fa-external-link"></i></div>
              <img src="{{item.arquivo}}" class="cover" alt="" />
              <h5>{{item.titulo}}</h5>
              <small><i class="{{item.status.icon}} {{item?.status?.color}}"></i> {{item.status.label}}</small>


              <!-- <div class="row">
                <div class="col-sm-4 text-right">

                  <div class="feedback" data-toggle="collapse" [attr.href]="'#collapseOne-' + i" aria-expanded="true"
                    aria-controls="collapseOne">Feedback <i class="fa fa-angle-down"></i>
                  </div>
                </div>
              </div>

              <div class="collapse" id="collapseOne-{{i}}">
                <div class="mt-4 text-feedback">
                  <h6>{{item.status.feedback}}</h6>
                  <p class="mt-3" *ngIf="item.feedback && item?.feedback[0]?.feedback"><strong>Feedback do colaborador:
                    </strong>{{item?.feedback[0]?.feedback}}</p>
                </div>
              </div> -->

            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="loading || !courses">
      <div class="row">
        <div class="col-sm-4 mt-2" *ngFor="let item of [0,1,2,3]">
          <asap-skeleton type="box" boxWidth="100%" boxHeight="100px"></asap-skeleton>
        </div>
      </div>
    </ng-container>


  </div>

  <div class="col-sm-3">
    <!-- <app-box-cognition></app-box-cognition> -->
    <!-- <app-box-map></app-box-map> -->
  </div>
</div>