<!-- <h1>Acesso não autorizado!</h1> -->

<div class="forbidden">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 mx-auto text-center">
        <i class="material-icons">lock</i>
        <h1 class="number">403</h1>
        <p class="text">{{'UnauthorizedAccess' | translate}}!</p>
      </div>
    </div>
  </div>
</div>
