<div class="row">
    <div class="col-sm-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="['/']" >{{ 'Home' | translate }}</a>
            </li>
            <li class="breadcrumb-item active d-none d-sm-block" aria-current="page">
                {{ 'ListOfUnitEmployees' | translate }}
            </li>
        </ol>
      </nav>
    </div>
</div>

<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Colaboradores">
        <div class="row" *ngIf="listUsers">
            <div class="col-sm-12 mb-3 mt-3">
                <h4 class="text-center">
                    {{ 'EvaluateTheUnitTeam' | translate }} <span style="color: var(--main-color);">{{ global?.loggedUser()?.value?.unidades | uppercase }}</span>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3" style="padding: 5px 13px 14px; display: flex;flex-wrap: wrap; align-items: center;" *ngFor="let item of listUsers">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="card-avatar">
                            <img style="max-width: 100%; border-radius: 100%;" [src]="item?.picture  || 'assets/img/default-avatar.png'" alt="">
                        </div>
                        <mat-card-title>{{ (item?.name?.length > 20) ? (item?.name | slice:0:20)+'...' : (item?.name) }} </mat-card-title>                                             
                        <mat-card-subtitle class="text-warning text-uppercase"><b>{{ item?.value?.cargos }}</b></mat-card-subtitle> 
                    </mat-card-header>                                   
                    <mat-card-actions class="text-center">
                        <button class="btn btn-orange" style="background-color: var(--main-color); color: #fff;" mat-button [routerLink]="['/components/skills/rating', item.id, ratingID]" *ngIf="!item.answers">
                            {{ 'Assess' | translate }}
                        </button>
                        <button class="btn btn-success" mat-button [routerLink]="['/components/skills', ratingID]" *ngIf="item.answers">
                            {{ 'Evaluated' | translate }}
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <div class="row" *ngIf="!listUsers">
            <div class="col-sm-12 mb-3 mt-3 text-center">                
                <ngx-skeleton-loader animation="progress" [theme]="{height:'30px', 'border-radius': '5px'}"></ngx-skeleton-loader>
            </div>
            <div class="col-sm-3" *ngFor="let i of [0,1,2,3,4,5,6,7]">
                <ngx-skeleton-loader animation="progress" [theme]="{height:'190px', 'border-radius': '5px'}"></ngx-skeleton-loader>                            
            </div>
        </div>
    </mat-tab>
    <!-- <mat-tab label="Minha média">
        <app-avalia-360-relatory [regionalId]="null"></app-avalia-360-relatory>  
    </mat-tab> -->
</mat-tab-group>