<div class="row">
  <div class="col-sm-12">
    <div class="box-management">
      <h3>{{ 'Competencies' | translate }}</h3>
      <p>{{ 'TheseAreSkillsThatOnlyYouHave' | translate }}.</p>
      <p>{{ 'TheseResultsAreInfluencedByYourCulture' | translate }}.</p>
      <p>{{ 'RateYours!' | translate }}</p>
    </div>
  </div>
</div>

<!-- <div class="col-sm-6"  *ngFor="let item of rating">
  <div class="card card-management" [routerLink]="['/components/skills', item.id]">
    <div class="card-body">
      <div class="link"><i class="fa fa-external-link"></i></div>
      <h4>{{ item.description }}</h4>
      <p class="text-warning">Você possui x pendências.</p>
      <div class="chips">
        <ul>
          <li>Pendência #1</li>
          <li>Pendência #2</li>
          <li>7+</li>
        </ul>
      </div>
      <div>
        <small>Data limite: {{ item.date_end | date: 'dd/MM/yyyy'}}</small>
      </div>
    </div>
  </div>
</div> -->

<div class="row" *ngIf="survey">
  <div class="col-sm-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']" >{{ 'Home' | translate }}</a>
        </li>
        <li class="breadcrumb-item"> 
          <a [routerLink]="['/components/skills', survey[0]?.rating_id, user?.id]">{{ 'ListOfUnitEmployees' | translate }}</a>
        </li>
        <li class="breadcrumb-item active d-none d-sm-block" aria-current="page">
          {{ 'Competencies' | translate }} {{ 'of' | translate }} {{ userInfo?.name }}
        </li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">

  <div class="col-sm-9">
    <!-- <div class="header-user" *ngIf="user">
      <ng-container>
        <img [src]="user.picture || 'assets/img/default-avatar.png'" class="avatar" alt="">
        <div>
          <h4>{{ user.name }}</h4>
          <p>{{ user.value.cargos | uppercase}}</p>
        </div>
      </ng-container>
      
    </div> -->
    <ng-container *ngIf="false">    
      <div class="carousel-stage">
        <owl-carousel #owlPfa [options]="options" [items]="rating">
          <div class="item" *ngFor="let item of rating">
            <div class="card card-management" (click)="getCategory(item.id)">
              <!-- <div class="card card-management" [routerLink]="['/components/skills', item.user.id]"></div> -->
              <div class="card-body">
                <div class="link"><i class="fa fa-external-link"></i></div>
                <h4>{{ item.description }}</h4>           
               <small> {{ 'Deadline' | translate }}: {{ item.date_end | date: 'dd/MM/yyyy'}}</small>
              </div>
            </div>
          </div>
        </owl-carousel>
        <div class="customNavigation">
          <a class="prev" (click)="owlPfa.previous()"><i class="fa fa-angle-left"></i></a>
          <a class="next" (click)="owlPfa.next()"><i class="fa fa-angle-right"></i></a>
        </div>
      </div>
    </ng-container>
    <div class="row" *ngIf="false">
      <div class="col-sm-4" *ngFor="let i of [0,1,2]">
        <div class="card card-management">                
          <div class="card-body">            
            <div class="link"><i class="fa fa-external-link"></i></div>
            <asap-skeleton type="box" boxWidth="100%" boxHeight="19px"></asap-skeleton>
            <asap-skeleton type="box" boxWidth="50%" boxHeight="14px"></asap-skeleton>
            <asap-skeleton type="box" boxWidth="70%" boxHeight="12px"></asap-skeleton>
          </div>
        </div>
      </div>
    </div>
    
    <mat-horizontal-stepper #stepper>
      <mat-step>
        <ng-template matStepLabel>{{ 'Assessment' | translate }}</ng-template>
        <ng-container *ngIf="survey">
        
          <div class="card card-management mt-4" *ngFor="let item of survey; let i = index">
            <div class="card-body">
              <div class="number">{{i + 1}}</div>
              <div class="question">{{item.description}}</div>
              <div class="complement">{{item.orientation}}</div>
            </div>
            <div class="card-footer text-center">
              <div *ngIf="item.type == 'rating'">
                <div class="rating">
                  <p>{{ 'OffersLittle' | translate }}</p>
                  <div class="rating-group">

                    <input disabled checked class="rating-input rating-input-none" name="{{item.ratingName}}" id="{{item.zeroStar}}" value="{{item.zeroStar}}" type="radio">

                    <label aria-label="1 star" class="rating-label" for="{{item.oneStar}}">
                      <i class="rating-icon rating-icon-star fa fa-star"></i>
                    </label>
                    <input class="rating-input" name="{{item.ratingName}}" id="{{item.oneStar}}" value="{{item.oneStar}}" type="radio">

                    <label aria-label="2 stars" class="rating-label" for="{{item.twoStars}}">
                      <i class="rating-icon rating-icon-star fa fa-star"></i>
                    </label>
                    <input class="rating-input" name="{{item.ratingName}}" id="{{item.twoStars}}" value="{{item.twoStars}}" type="radio">

                    <label aria-label="3 stars" class="rating-label" for="{{item.threeStars}}">
                      <i class="rating-icon rating-icon-star fa fa-star"></i>
                    </label>
                    <input class="rating-input" name="{{item.ratingName}}" id="{{item.threeStars}}" value="{{item.threeStars}}" type="radio">

                    <label aria-label="4 stars" class="rating-label" for="{{item.fourStars}}">
                      <i class="rating-icon rating-icon-star fa fa-star"></i>
                    </label>
                    <input class="rating-input" name="{{item.ratingName}}" id="{{item.fourStars}}" value="{{item.fourStars}}" type="radio">

                    <label aria-label="5 stars" class="rating-label" for="{{item.fiveStars}}">
                      <i class="rating-icon rating-icon-star fa fa-star"></i>
                    </label>
                    <input class="rating-input" name="{{item.ratingName}}" id="{{item.fiveStars}}" value="{{item.fiveStars}}" type="radio">

                  </div>
                  <p>{{ 'OffersALot' | translate }}</p>
                </div>
              </div>
              <div class="alternative">

                <div class="btn-group btn-group-alternative" role="group" aria-label="alternative" *ngIf="answer">
                  <button type="button" (click)="doAnswer(item.id,'no')" [ngClass]="{'active btn-primary': (answer[item.id]=='no')}" class="btn btn-default">
                    {{ 'No' | translate }}
                  </button>
                  <button type="button" (click)="doAnswer(item.id,'maybe')" [ngClass]="{'active btn-primary': (answer[item.id]=='maybe')}" class="btn btn-default">
                    {{ 'Sometimes' | translate }}
                  </button>
                  <button type="button" (click)="doAnswer(item.id,'yes')" [ngClass]="{'active btn-primary': (answer[item.id]=='yes')}" class="btn btn-default">
                    {{ 'Yes' | translate }}
                  </button>
                </div>

              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="!survey">
          <div class="row">
            <div class="col-sm-12" *ngFor="let item of [0,1,2,3]">              
              <div class="card card-management mt-4">
                <div class="card-body">
                  <div class="number">                    
                  </div>
                  <div class="question">
                    <asap-skeleton type="box" boxWidth="300px" boxHeight="20px"></asap-skeleton>
                  </div>
                  <asap-skeleton type="box" boxWidth="400px" boxHeight="18px"></asap-skeleton>                 
                </div>  
                <asap-skeleton type="box" boxWidth="100%" boxHeight="59px" ></asap-skeleton>                            
              </div>
            </div>
          </div>
        </ng-container>
     
        <div class="text-center">                 
          <button (click)="sendAnswer()" [disabled]="answered"   class="btn btn-primary mr-2">
            <i *ngIf="loading" class="fa fa-spin fa-spinner"></i> {{ 'SubmitReview' | translate }}
          </button>
          <span matTooltipPosition="above" [matTooltipDisabled]="existeMedia" matTooltip="{{ 'WaitingForTheLeaderOrCollaboratorsAnswers!' | translate }}">
            <button class="btn btn-dark"  [disabled]="!existeMedia" matStepperNext>{{ 'Next' | translate }}</button>
          </span>
        </div>
    
      </mat-step>
      <mat-step *ngIf="existeMedia">
        <ng-template matStepLabel>Feedback</ng-template>
        <div class="row mt-4">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body text-center">
                <h3>{{ mediaGestor }}</h3>                
                <small>{{ 'LeaderAverage' | translate }}</small>
                
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body text-center">
                <h3>{{ mediaColab }}</h3>
                <small>{{ 'EmployeeAverage' | translate }}</small>                
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body" *ngIf="user.value.cargos != 'lider'">
                <p class="text-uppercase fw-500">{{ 'FeedbackFromYourLeader' | translate }}:</p>
                <p class="text-center mt-4 mb-2">{{ feedBack }}</p>
              </div>
              <div class="card-body" *ngIf="user.value.cargos == 'lider'">
                <p class="text-uppercase fw-500">Feedback</p>
                <mat-form-field class="w-100">
                  <textarea rows="5" [(ngModel)]="feedBack" matInput placeholder="{{ TypeYourComment }}"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-primary mr-2" matStepperPrevious>
            {{ 'Previous' | translate }}
          </button>
          <button [disabled]="user.value.cargos != 'lider'" class="btn btn-dark" (click)="sendFeedBack(feedBack)">
            <i *ngIf="loading" class="fa fa-spin fa-spinner"></i> {{ 'SendFeedback' | translate }}
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>

  <div class="col-sm-3">
    <!-- <app-box-pfa></app-box-pfa>
    <app-box-qualification></app-box-qualification> -->
    <!-- <app-box-map [userID]="id"></app-box-map> -->
  </div>

</div>
