<div class="row">
    <div class="col-sm-12">
      <div class="box-management">
        <h3>PFA</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/']" >{{ 'Home' | translate }}</a></li>
          <li class="breadcrumb-item"><a [routerLink]="['/components/pfa']" >{{ 'SeniorListing' | translate }}</a></li>
          <li class="breadcrumb-item active d-none d-sm-block" aria-current="page">
            {{ 'RegionalListing' | translate }}
          </li>
        </ol>
      </nav>
    </div>
</div>

<ng-container *ngIf="leaderData">
    <div class="row">
        <div class="col-sm-4 mt-3" *ngFor="let item of leaderData.data.user">
            <mat-card class="example-card">
                <mat-card-header class="text-center w-100">
                  <mat-card-title class="w-100">{{ item.name }}</mat-card-title>
                  <mat-card-subtitle>{{ item.cargo | uppercase }} / <b>{{ item.unidade }}</b></mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions class="text-center">
                  <button mat-button [routerLink]="['/components/pfa/senior/list/', id ,item.id]">{{ 'View' | translate }}</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</ng-container>
