<div class="row">
    <div class="col-sm-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-0 mt-3 mt-sm-0">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/']">{{ 'Home' | translate }}</a>
                </li>
                <li *ngIf="regionalSeniorId" class="breadcrumb-item">
                    <a [routerLink]="['/components/pfa/regional/senior/user', folderId, regionalSeniorId]">{{ userNameSenior }}</a>
                </li>
                <li *ngIf="regionalId && !regionalSeniorId" class="breadcrumb-item">
                    <a [routerLink]="['/components/pfa/regional', folderId, regionalId]">{{ userNameRegional }}</a>
                </li>
                <li *ngIf="regionalSeniorId" class="breadcrumb-item">
                    <a [routerLink]="['/components/pfa/regional', folderId, regionalId, regionalSeniorId]">{{ userNameRegional }}</a>
                </li>
                <li *ngIf="regionalSeniorId" class="breadcrumb-item">
                    <a [routerLink]="['/components/pfa/regional/lider', folderId, leaderId, regionalId, regionalSeniorId]">{{ userNameLeader }}</a>
                </li>
                <li class="breadcrumb-item active d-none d-sm-block" aria-current="page">
                    {{ evaluation?.user[0]?.name }}
                </li>
            </ol>
        </nav>
    </div>
</div>

<ng-container *ngIf="evaluation">
    <div class="row">
        <div class="col-sm-12 text-center text-sm-left">
            <h4>{{ evaluation.user[0].name }}</h4>
            <p class="fw-500">{{ evaluation.user[0].cargo | uppercase }}</p>
            <small>{{ 'Average' | translate }}: {{ evaluation.media }}</small>
        </div>

        <div class="col-sm-12">

            <h6 class="mb-3 mt-3">{{ 'Period' | translate }}: {{ evaluation?.periodo[0].name }} {{ 'of' | translate }}
                {{ evaluation?.periodo[0].date_start | date}} {{ 'to' | translate }}
                {{ evaluation?.periodo[0].date_end | date }}</h6>
            <hr>

            <table cellspacing="5" class="mb-5">
                <caption class="d-block d-sm-none w-100">{{ 'Question' | translate }}</caption>
                <thead>
                    <tr>
                        <th colspan="2" class="title text-uppercase">{{ 'Question' | translate }}</th>
                        <th class="text-center">{{ 'SampleSize' | translate }}</th>
                        <th class="text-center">{{ 'PreviousAverage' | translate }}</th>
                        <th class="text-center">{{ 'CurrentAverage' | translate }}</th>
                        <th class="text-center">{{ 'GlobalAverage' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="evaluation?.form">
                        <tr *ngFor="let item of evaluation.form ; let i = index">
                            <td class="text-center w-5">{{ i + 1 }}</td>
                            <td class="w-50 text-center text-sm-left">{{ item.quest }}</td>
                            <td class="text-center">{{ item.qtd }}</td>
                            <td class="text-center">
                                {{ item.MdAnterior }}
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar bg-primary" role="progressbar" [style.width.%]="(item.MdAnterior * 100) / 5" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                {{ item.MdAtual }}
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar bg-primary" role="progressbar" [style.width.%]="(item.MdAtual * 100) / 5" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                {{ item.MdGlobal }}
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar bg-primary" role="progressbar" [style.width.%]="(item.MdGlobal * 100) / 5" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <!-- <div class="card mt-4">
                <div class="card-body">
                    <div class="mb-4">
                        <b>Periodo:</b> {{ evaluation?.periodo[0].name }} de
                        {{ evaluation?.periodo[0].date_start | date}} até
                        {{ evaluation?.periodo[0].date_end | date }}
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-pfa">
                            <thead>
                                <tr>
                                    <th class="w-50">Questão</th>
                                    <th class="text-center">Tamanho da amostra</th>
                                    <th class="text-center">Média anterior</th>
                                    <th class="text-center">Média atual</th>
                                    <th class="text-center">Média global <i class="fa fa-question-circle" matTooltip="Média Global é a média considerando TODOS os usuários da Rede"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="evaluation?.form">
                                    <tr *ngFor="let item of evaluation.form ; let i = index">
                                        <td><b>{{ i + 1 }}.</b> {{ item?.quest }}</td>
                                        <td class="text-center">
                                            <strong>{{ item?.qtd }}</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>{{ item?.MdAnterior }}</strong>
                                            <mat-progress-bar mode="determinate" [value]="(item?.MdAnterior / 5 ) * 100">
                                            </mat-progress-bar>
                                        </td>
                                        <td class="text-center">
                                            <strong>{{ item?.MdAtual }}</strong>
                                            <mat-progress-bar mode="determinate" [value]="(item?.MdAtual / 5 ) * 100">
                                            </mat-progress-bar>
                                        </td>
                                        <td class="text-center">
                                            <strong>{{ item?.MdGlobal }}</strong>
                                            <mat-progress-bar mode="determinate" [value]="(item?.MdGlobal / 5 ) * 100">
                                            </mat-progress-bar>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> -->
        </div>

        <!-- <div class="col-sm-12">
          <div class="card mt-4">
              <div class="card-body">
                <div class="mb-4">
                  <h4>Usuários</h4>
                  <h6>Media: {{ users.mediaGlobal }}</h6>
                </div>
                <div class="table-responsive">
                  <table class="table table-striped table-pfa">
                    <thead>
                      <tr>
                        <th style="width: 5%;">#</th>
                        <th style="width: 45%;">Nome</th>
                        <th style="width: 20%;">Cargo</th>
                        <th style="width: 20%;">Unidade</th>
                        <th style="width: 10%;"class="text-center">Média Atual</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngIf="evaluation?.form">
                        <tr *ngFor="let item of users.user; let i = index">
                          <td>{{ i + 1 }}</td>
                          <td><a [routerLink]="['/components/avalia-360/user', i]">{{ item.name }}</a></td>
                          <td>       
                            <strong>{{ item?.cargo }}</strong>
                          </td>
                          <td>
                            <strong>{{ item?.unidade }}</strong>
                          </td>
                          <td>
                            <strong>{{ item?.media }}</strong>
                          </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div> -->
    </div>
</ng-container>

<ng-container *ngIf="!evaluation">
    <asap-skeleton type="lines" lineWidth="60%" lineHeight="20px"></asap-skeleton>
    <asap-skeleton type="lines" lineWidth="80%" lineHeight="20px"></asap-skeleton>
    <asap-skeleton type="lines" lineWidth="100%" lineHeight="40px" [lines]="10"></asap-skeleton>
</ng-container>