<div class="card mb-4">
  <div class="card-body">
    <p class="text-uppercase fw-500 fs-12">Últimos Feedbacks Realizados</p>
  </div>
  <ul class="contributors">
    <ng-container>
      <li class="pointer" *ngFor="let item of notifications | async">                
        <div><img [src]="item?.user?.picture || 'assets/img/default-avatar.png'" class="avatar" alt=""></div>
        <div class="data"  matTooltipPosition="above" [matTooltip]="item?.message">
          <!-- <code> {{ item | json}}</code> -->
          <!-- <p class="name text-capitalize">{{item?.user?.nome}}</p> -->
          <p class="name text-capitalize">{{item?.user?.name}}</p>
         
          <!-- <span class="text bg">{{ item?.status?.title }}</span> -->
          <span class="text bg">{{ item?.title }}</span>
        </div>
      </li>
    </ng-container>
    <ng-container *ngIf="!notifications || notifications.length <= 0">
      <asap-skeleton type="box" boxWidth="100%" boxHeight="300px"></asap-skeleton>
    </ng-container>


  </ul>
  <!-- <div class="p-3 text-center">
    <button class="btn btn-xs btn-primary">Ver mais</button>
  </div> -->
</div>