<app-avalia-360-breadcrumb></app-avalia-360-breadcrumb>

<ng-container *ngIf="evaluation">
  <div class="row">
      <div class="col-sm-6">
          <h4>{{ evaluation.user.name }}</h4>
          <h5 *ngIf="evaluation.user.value.cargos">{{ evaluation.user.value.cargos | uppercase }}</h5>
          <h6 *ngIf="evaluation.user.media.length > 0">Media: {{ evaluation.user.media[0].media | number: '1.0-2' }}<span style="background-color: var(--main-color); color: #fff;"></span></h6>
          <hr>
      </div>
      <div class="col-sm-6" class="info-media">
        <div class="info-nota" *ngFor="let notas of evaluation.painel">
          <h5>{{ notas.item.value | uppercase }}</h5>
          <div class="color-nota">{{ notas.media[0].media | number: '1.0-2' }}</div>
        </div>  
        <hr>
      </div>
      <div class="col-sm-12" *ngIf="evaluation.form.length > 0">
          <div class="card mt-4">
              <div class="card-body">
                <!-- <div class="mb-4">
                  <b>Periodo:</b> {{ evaluation?.periodo[0].name }} de
                  {{ evaluation?.periodo[0].date_start | date}} até
                  {{ evaluation?.periodo[0].date_end | date }}
                </div> -->
                <div class="table-responsive">
                  <table class="table table-striped table-pfa">
                    <thead>
                      <tr>
                        <th style="width: 85%;">Questão</th>
                        <!-- <th class="text-center">Tamanho da amostra</th> -->
                        <th style="width: 15%;" class="text-center">Media</th>
                        <!-- <th class="text-center">Média atual</th>
                        <th class="text-center">Média global <i class="fa fa-question-circle"
                          matTooltip="Média Global é a média considerando TODOS os usuários da Rede"></i>
                        </th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngIf="evaluation?.form">
                        <tr *ngFor="let item of evaluation.form ; let i = index">
                          <td><b>{{ i + 1 }}.</b> {{ item?.quest }}</td>
                          <!-- <td class="text-center">
                            <strong>{{ item?.qtd }}</strong>
                          </td> -->
                          <td class="text-center">
                            <strong>{{ item?.value  | number: '1.0-2' }}</strong>
                            <mat-progress-bar mode="determinate"
                              [value]="(item?.value / 5 ) * 100">
                            </mat-progress-bar>
                        </td>
                        <!-- <td class="text-center">
                          <strong>{{ item?.MdAtual }}</strong>
                          <mat-progress-bar mode="determinate" [value]="(item?.MdAtual / 5 ) * 100">
                          </mat-progress-bar>
                        </td>
                        <td class="text-center">
                          <strong>{{ item?.MdGlobal }}</strong>
                          <mat-progress-bar mode="determinate" [value]="(item?.MdGlobal / 5 ) * 100">
                          </mat-progress-bar>
                        </td> -->
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>

      <div class="col-sm-12" *ngIf="evaluation.list.length > 0">
        <div class="card mt-4">
            <div class="card-body">
              <div class="mb-4">
                <h4>Usuários</h4>
                <!-- <h6>Media: {{ users?.mediaGlobal }}</h6> -->
              </div>
              <div class="table-responsive">
                <table class="table table-striped table-pfa">
                  <thead>
                    <tr>
                      <th style="width: 5%;">#</th>
                      <th style="width: 80%;">Nome</th>
                      <!-- <th style="width: 20%;">Cargo</th>
                      <th style="width: 20%;">Unidade</th> -->
                      <th style="width: 15%;">Média</th>
                      <!-- <th style="width: 20%;"class="text-center">Média Global</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container>
                      <tr *ngFor="let item of evaluation.list; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td><a class="link-table"[routerLink]="['/components/avalia-360/report', folderID, formID, item.user_id]">{{ item.name }}</a></td>
                        <!-- <td><a (click)="navigate(item.user_id,item.name)">{{ item.name }}</a></td> -->
                        <!-- <td>       
                          <strong>{{ item?.cargo }}</strong>
                        </td>
                        <td>
                          <strong>{{ item?.unidade }}</strong>
                        </td> -->
                        <td>
                          <strong>{{ (item?.media.length > 0) ? (item.media[0].value | number: '1.0-2') : (item.media) }}</strong>
                        </td>
                        <!-- <td>
                          <strong>{{ item?.global }}</strong>
                        </td> -->
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</ng-container>

<ng-container *ngIf="!evaluation">
  <asap-skeleton type="lines" lineWidth="60%" lineHeight="20px"></asap-skeleton>
  <asap-skeleton type="lines" lineWidth="80%" lineHeight="20px"></asap-skeleton>
  <asap-skeleton type="lines" lineWidth="100%" lineHeight="40px" [lines]="10"></asap-skeleton>
</ng-container>


