<div class="row">
    <div class="col-sm-12">
        <div class="box-management">
            <h3>Conhecimentos</h3>
            <p>Inicie a sua jornada de auto conhecimento avaliando o status dos conhecimentos adquiridos e crie uma meta
                de superação.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/']" >{{ 'Home' | translate }}</a></li>
          <li class="breadcrumb-item"><a [routerLink]="['/components/map', userID]" >{{ 'Management' | translate }}</a></li>
          <li class="breadcrumb-item active d-none d-sm-block" aria-current="page">
            {{ 'Avaliation' | translate }}
          </li>
        </ol>
      </nav>
    </div>
</div>

<div class="row">
    <div [class.col-sm-12]="true" *ngIf="loading">
        <div *ngIf="false" class="row">
            <div class="col-sm-1">
                <div class="header-user">
                    <img src="assets/img/blank-user.png" class="avatar" alt="">
                </div>
            </div>
            <div class="col-sm-11">
                <asap-skeleton type="lines" lineWidth="80%" lineHeight="20px"></asap-skeleton>
                <asap-skeleton type="lines" lineWidth="35%" lineHeight="20px"></asap-skeleton>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <asap-skeleton type="box" boxWidth="100%" boxHeight="180px"></asap-skeleton>
            </div>
            <div class="col-sm-12 mt-4">
                <asap-skeleton type="lines" lineWidth="100%" lineHeight="20px"></asap-skeleton>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-12">
                <asap-skeleton type="box" boxWidth="100%" boxHeight="180px"></asap-skeleton>
            </div>
            <div class="col-sm-12 mt-4">
                <asap-skeleton type="lines" lineWidth="100%" lineHeight="20px"></asap-skeleton>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-12">
                <asap-skeleton type="box" boxWidth="100%" boxHeight="180px"></asap-skeleton>
            </div>
            <div class="col-sm-12 mt-4">
                <asap-skeleton type="lines" lineWidth="100%" lineHeight="20px"></asap-skeleton>
            </div>
        </div>

    </div>
    <div *ngIf="!loading" [class.col-sm-12]="true">
        <!-- <div *ngIf="type == 'leader'" class="header-user">
            <img [src]="user?.picture || 'assets/img/default-avatar.png'" class="avatar" alt="">
            <div>
                <h4>{{user?.name}}</h4>
                <p>{{user?.value?.cargos}}</p>
            </div>
        </div> -->
        <p class="text-center" *ngIf="!(courses && courses?.length)">
            Este usuário não fez este curso!
        </p>
        <mat-horizontal-stepper *ngFor="let course of courses" #stepper>
            <mat-step>
                <ng-template matStepLabel>Autoavaliação</ng-template>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>{{course.titulo}}</h4>
                        <hr>
                    </div>
                    <ng-container *ngFor="let item of course.indicador; index as i">
                        <div class="col-sm-12">
                            <div class="card card-management">
                                <div class="card-body">
                                    <div class="number">{{i + 1}}</div>
                                    <div class="question">{{item.value}}</div>
                                </div>
                                <div class="card-footer  text-center">
                                    <ng-container *ngIf="!canEdit()">
                                        <div class="rating">
                                            <p>Não conheço</p>
                                            <div class="rating-view">
                                                <input disabled class="rating-input rating-input-none"  [checked]="starIndex(item.resp[0].resp)==0" name="rating-{{i}}" id="a-{{i}}-0" type="radio" required>
                            
                                                <label aria-label="1 star"  class="rating-label" for="a-{{i}}-1">
                                                    <i class="rating-icon rating-icon-star fa fa-star"></i>
                                                </label>
                                                <input disabled class="rating-input" [checked]="starIndex(item.resp[0].resp)==1" name="rating-{{i}}" id="a-{{i}}-1" type="radio">
                                
                                                <label disabled aria-label="2 stars" class="rating-label" for="a-{{i}}-2">
                                                    <i class="rating-icon rating-icon-star fa fa-star"></i>
                                                </label>
                                                <input disabled class="rating-input" [checked]="starIndex(item.resp[0].resp)==2" name="rating-{{i}}" id="a-{{i}}-2" type="radio">
                                
                                                <label aria-label="3 stars" class="rating-label" for="a-{{i}}-3">
                                                    <i class="rating-icon rating-icon-star fa fa-star"></i>
                                                </label>
                                                <input disabled class="rating-input" [checked]="starIndex(item.resp[0].resp)==3" name="rating-{{i}}" id="a-{{i}}-3" type="radio">
                                
                                                <label aria-label="4 stars" class="rating-label" for="a-{{i}}-4">
                                                    <i class="rating-icon rating-icon-star fa fa-star"></i>
                                                </label>
                                                <input disabled class="rating-input" [checked]="starIndex(item.resp[0].resp)==4" name="rating-{{i}}" id="a-{{i}}-4" type="radio">
                                
                                                <label aria-label="5 stars" class="rating-label" for="a-{{i}}-5">
                                                    <i class="rating-icon rating-icon-star fa fa-star"></i>
                                                </label>
                                                <input disabled class="rating-input" [checked]="starIndex(item.resp[0].resp)==5" name="rating-{{i}}" id="a-{{i}}-5" type="radio">
                                            </div>
                                            <p>Avançado</p>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="canEdit()">
                                        <div class="rating">
                                            <!-- <code>{{item.resp[0].resp | json}}</code> -->
                                            <p>Não conheço</p>
                                            <div class="rating-group">
                                                <input disabled class="rating-input rating-input-none"  [checked]="starIndex(item.resp[0].resp)==0" name="rating-{{i}}" id="a-{{i}}-0" type="radio">
                                                <!-- <code>{{ item.resp | json }}</code> -->
                                                <label aria-label="1 star"  (click)="item.resp[0].resp=starValue[1]" class="rating-label" for="a-{{i}}-1">
                                                    <i class="rating-icon rating-icon-star fa fa-star"></i>
                                                </label>
                                                <input class="rating-input" [checked]="starIndex(item.resp[0].resp)==1" name="rating-{{i}}" id="a-{{i}}-1" type="radio">
                                
                                                <label aria-label="2 stars" (click)="item.resp[0].resp=starValue[2]" class="rating-label" for="a-{{i}}-2">
                                                    <i class="rating-icon rating-icon-star fa fa-star"></i>
                                                </label>
                                                <input class="rating-input" [checked]="starIndex(item.resp[0].resp)==2" name="rating-{{i}}" id="a-{{i}}-2" type="radio">
                                
                                                <label aria-label="3 stars" (click)="item.resp[0].resp=starValue[3]" class="rating-label" for="a-{{i}}-3">
                                                    <i class="rating-icon rating-icon-star fa fa-star"></i>
                                                </label>
                                                <input class="rating-input" [checked]="starIndex(item.resp[0].resp)==3" name="rating-{{i}}" id="a-{{i}}-3" type="radio">
                                
                                                <label aria-label="4 stars" (click)="item.resp[0].resp=starValue[4]" class="rating-label" for="a-{{i}}-4">
                                                    <i class="rating-icon rating-icon-star fa fa-star"></i>
                                                </label>
                                                <input class="rating-input" [checked]="starIndex(item.resp[0].resp)==4" name="rating-{{i}}" id="a-{{i}}-4" type="radio">
                                
                                                <label aria-label="5 stars" (click)="item.resp[0].resp=starValue[5]" class="rating-label" for="a-{{i}}-5">
                                                    <i class="rating-icon rating-icon-star fa fa-star"></i>
                                                </label>
                                                <input class="rating-input" [checked]="starIndex(item.resp[0].resp)==5" name="rating-{{i}}" id="a-{{i}}-5" type="radio">
                                            </div>
                                            <p>Avançado</p>
                                        </div>
                                    </ng-container>
                                    
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>

                <div *ngIf="type == 'user'" class="text-center">
                    <!-- {{course | json}} -->
                    <!-- <button *ngIf="!hasChallenge()" (click)="sendEvaluation(course)" class="btn btn-primary mr-2">Enviar autoavaliação</button> -->
                    <ng-container *ngIf="getAllAnswers() as answers">
                        <!-- <code>{{ answers }}</code> -->
                    </ng-container>
                    <span matTooltipPosition="above" [matTooltipDisabled]="isValid" matTooltip="Responda todas as perguntas!">
                        <button class="btn btn-dark" [disabled]="!isValid" matStepperNext>Próximo</button>
                    </span>
                </div>
            </mat-step>
            <mat-step  *ngIf="challenges() as c">
                <ng-template matStepLabel>Desafios a serem superados<span *ngIf="c.length > 0">: {{c?.length}}</span></ng-template>                
                <div class="row">     
                    <div class="col-sm-12">
                        <h4>{{course.titulo}}</h4>                                             
                        <mat-form-field *ngIf="c.length > 0">                                                  
                            <mat-label>Defina sua meta</mat-label>                            
                            <input [disabled]="!canEdit()" matInput type="date" [(ngModel)]="course.indicador[0].resp[0].meta">            
                        </mat-form-field>                  
                        <hr>
                    </div>
                    <div class="col-sm-12" *ngIf="c?.length == 0">
                        <div class="card card-management">
                            <div class="card-body">
                                <div class="text-center">
                                    <ng-container *ngIf="(type == 'user')">
                                        <p>Parabéns você superou todos os Desafios...</p>
                                        <p>Clique em Enviar Avaliação para salvar suas respostas!</p>
                                    </ng-container>
                                    <ng-container *ngIf="(type == 'leader')">
                                        <p>Este usuário concluiu com aproveitamento todos os desfios deste Curso!</p>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ng-container *ngFor="let item of course.indicador; index as i">
                        <div class="col-sm-12" *ngIf="(item.value) && ((item.resp[0].resp=='Falta prática') || (item.resp[0].resp== 'Preciso de suporte'))">
                            <div class="card card-management">
                                <div class="card-body">
                                    <div class="number">{{i + 1}}</div>
                                    <div class="question">{{item.value}}</div>

                                    <div class="col-sm-12 mt-4">
                                        <mat-form-field class="w-100">
                                            <textarea [disabled]="!canEdit()" matInput [(ngModel)]="item.resp[0].obs" rows="1" placeholder="Escreva seu comentário" [disabled]="(type == 'leader')"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="card-footer  text-center">
                                    <!-- <ng-container>
                                        <div class="rating">
                                            <p>Não conheço</p>
                                            <div class="rating-view">
                                                <input disabled class="rating-input rating-input-none" [checked]="starIndex(item.resp[0].resp)==0" name="rating-2-{{i}}" id="a-{{i}}-0" type="radio">
                                
                                                <label aria-label="1 star"  class="rating-label" for="a-{{i}}-1">
                                                    <i class="rating-icon rating-icon-star fa fa-star"></i>
                                                </label>
                                                <input class="rating-input" [checked]="starIndex(item.resp[0].resp)==1" name="rating-2-{{i}}" id="a-{{i}}-1" type="radio">
                                
                                                <label aria-label="2 stars" class="rating-label" for="a-{{i}}-2">
                                                    <i class="rating-icon rating-icon-star fa fa-star"></i>
                                                </label>
                                                <input class="rating-input" [checked]="starIndex(item.resp[0].resp)==2" name="rating-2-{{i}}" id="a-{{i}}-2" type="radio">
                                
                                                <label aria-label="3 stars" class="rating-label" for="a-{{i}}-3">
                                                    <i class="rating-icon rating-icon-star fa fa-star"></i>
                                                </label>
                                                <input class="rating-input" [checked]="starIndex(item.resp[0].resp)==3" name="rating-2-{{i}}" id="a-{{i}}-3" type="radio">
                                
                                                <label aria-label="4 stars" class="rating-label" for="a-{{i}}-4">
                                                    <i class="rating-icon rating-icon-star fa fa-star"></i>
                                                </label>
                                                <input class="rating-input" [checked]="starIndex(item.resp[0].resp)==4" name="rating-2-{{i}}" id="a-{{i}}-4" type="radio">
                                
                                                <label aria-label="5 stars" class="rating-label" for="a-{{i}}-5">
                                                    <i class="rating-icon rating-icon-star fa fa-star"></i>
                                                </label>
                                                <input class="rating-input" [checked]="starIndex(item.resp[0].resp)==5" name="rating-2-{{i}}" id="a-{{i}}-5" type="radio">
                                            </div>
                                            <p>Avançado</p>
                                        </div>
                                    </ng-container>     -->
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <!-- <div class="card mt-4">
                    <div class="card-body">
                        <h4>{{course.titulo}}</h4>
                        <div class="text-center" *ngIf="c?.length == 0">
                            <ng-container *ngIf="(type == 'user')">
                                <p>Parabéns você superou todos os Desafios...</p>
                                <p>Clique em Enviar Avaliação para salvar suas respostas!</p>
                            </ng-container>
                            <ng-container *ngIf="(type == 'leader')">
                                <p>Este usuário concluiu com aproveitamento todos os desfios deste Curso!</p>
                            </ng-container>
                        </div>
                        <div *ngIf="c.length > 0" class="table-responsive">
                            <div class="row">
                                <div class="col-sm-8 pt-4">
                                    <p><strong>Desafios a serem superados:</strong> {{c?.length}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <mat-form-field class="w-100">
                                        <input matInput [(ngModel)]="meta" [matDatepicker]="picker" placeholder="Meta para finalizar" [disabled]="(type == 'leader')">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <table class="table table-skills">
                                <thead>
                                    <tr>
                                        <th>Desafio</th>
                                        <th class="text-center">Autoavaliação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let item of course.indicador; index as i">
                                        <ng-container *ngIf="(item.value) && ((item.resp[0].resp=='Falta prática') || (item.resp[0].resp== 'Preciso de suporte'))">
                                            <tr class="border-top">
                                                <td class="border-0">{{item.value}}</td>
                                                <td class="text-center border-0" width="40%">
                                                   
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class=" border-0" colspan="2">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <mat-form-field class="w-100">
                                                                <textarea matInput [(ngModel)]="item.resp[0].obs" rows="1" placeholder="Escreva seu comentário" [disabled]="(type == 'leader')"></textarea>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> -->
                <div class="text-center">
                    <button class="btn btn-dark" matStepperPrevious>Anterior</button>
                    <button (click)="sendEvaluation(course)" class="btn btn-primary mx-2" [disabled]="!canEdit()"> <i *ngIf="loading" class="fa fa-spin fa-spinner"></i> Enviar autoavaliação</button>
                    <button class="btn btn-dark" matStepperNext>Próximo</button>
                </div>
            </mat-step>
            <mat-step *ngIf="canEditFeedback()">
                <ng-template matStepLabel>Feedback</ng-template>
                <ng-container *ngIf="canEditFeedback()">
                    <div class="card mt-4">
                        <div class="card-body">
                            <h4>{{course.titulo}}</h4>
                            <p class="text-uppercase fw-500">Feedback</p>
                            <p>{{course.feedback[0].feedback}}</p>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="canEditFeedback()">
                    <p>Envie para o seu líder o feedback sobre todos os seus conhecimentos adquiridos.</p>
                    <div class="card mt-4">
                        <div class="card-body">
                            <p class="text-uppercase fw-500">Feedback</p>
                            <mat-form-field class="w-100">
                                <textarea rows="5" [(ngModel)]="course.feedback[0].feedback" matInput placeholder="Digite seu feddback"></textarea>
                            </mat-form-field>
                            <div class="input-file" (click)="upload.openDialog()">
                                <label for="upload-photo">
                                    <i class="fa fa-cloud-upload"></i>
                                    <p>Enviar vídeo</p>
                                </label>
                                <asap-upload hidden="true" #upload [type]="'file'" accept="video/*" (AddArchive)="course.feedback[0].file = $event.path"></asap-upload>
                            </div>
                            <ng-container *ngIf="course?.feedback[0]?.file">
                                <div class="row mt-4">
                                    <div class="col-sm-12">
                                        <video class="img-responsive" width="100%">
                                            <source [src]="course.feedback[0].file">
                                        </video>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    
                    <div class="text-center">
                        <button class="btn btn-primary mr-2" matStepperPrevious>Anterior</button>
                        <button (click)="sendFeedback(course)" class="btn btn-dark">Enviar feedback</button>
                    </div>
                </ng-container>
            </mat-step>
        </mat-horizontal-stepper>
    </div>