<ng-container *ngIf="loadAdmin">
    <div class="preloading">
        <i class="fa fa-spinner fa-spin fa-2x mb-2"></i>
        <p class="text fw-100">{{ 'LoadingData...' | translate }}</p>
    </div>
</ng-container>

<ng-container *ngIf="!loadNormal && !loadAdmin">
    <div class="row mb-4" *ngIf="!cargo">
        <div class="col-sm-12">
            <div class="banner-user">
                <div style="margin-right: 15px;">
                    <ngx-avatar size="100" bgColor="var(--main-color)" [cornerRadius]="10" initialsSize="2" [name]="user.name"></ngx-avatar>
                </div>
                <!-- <img [src]="'assets/img/default-avatar.png' || user.picute" class="avatar" alt=""> -->
                <div>
                    <h3>{{ user.name }}</h3>
                    <!-- <p>{{ user.value.cargos | uppercase }}</p> -->
                    <small>{{ 'PanelOf' | translate }} {{ user.value.cargos }}</small>
                    <br />
                    <mat-form-field class="w-55">
                        <mat-label>{{ 'ViewHow' | translate }}:</mat-label>
                        <mat-select [(ngModel)]="view" (selectionChange)="selectView($event)">
                            <mat-option value="Gestor">{{ 'Manager' | translate }}</mat-option>
                            <mat-option value="Colaborador">{{ 'Collaborator' | translate }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="section" *ngIf="users?.pfa">
                <div class="section-title">
                    <div class="row">
                        <div class="col-sm-6 d-flex align-items-center">
                            <h5>{{ 'ViewFeedbackFrom' | translate }} <span>{{ 'team' | translate }}</span></h5>
                        </div>
                        <!-- <div class="col-sm-6 d-flex align-items-center justify-content-end">
                            <ul>
                                <li (click)="viewPeriodPfa = 'historyPfa'" class="history"><i class="fa fa-history"></i></li>
                                <li (click)="viewPeriodPfa = 'lastYearPfa'">2020</li>
                                <li (click)="viewPeriodPfa = 'currentYearPfa'" class="active">2021</li>
                                <li class="disable">2022</li>
                            </ul>
                        </div> -->
                    </div>
                </div>

                <div *ngIf="viewPeriodPfa == 'historyPfa'">{{ 'historic' | translate }}</div>

                <div *ngIf="viewPeriodPfa == 'lastYearPfa'">
                    <div class="alert alert-warning">
                        <strong><i class="fa fa-exclamation-triangle mr-2"></i></strong> {{ 'YouDoNotHaveFeedbacksRegisteredForThisPeriod' | translate }}.
                    </div>
                </div>
                <ng-container *ngIf="users?.pfa">
                    <div *ngIf="viewPeriodPfa == 'currentYearPfa'">
                        <div class="carousel-stage">
                            <owl-carousel #owlPfa [options]="options" [items]="pfa">
                                <div class="item">
                                    <div class="card card-management" [routerLink]="['/components/pfa']">
                                        <div class="card-body">
                                            <div class="link"><i class="fa fa-external-link"></i></div>
                                            <h4>{{pfas[0]?.name}}</h4>
                                            <p *ngIf="pfas[0]?.pendencias == 1" class="text-success">{{ 'CongratulationsYouAreUpdated!' | translate }}</p>
                                            <p *ngIf="pfas[0]?.pendencias > 1" class="text-warning">{{ 'YouHave' | translate }} {{pfas[0]?.pendecias}}!</p>
                                            <small><span>{{ 'Deadline' | translate }}:</span> {{ pfas[0]?.date_end | date: 'dd/MM/yyyy' }}</small>
                                        </div>
                                    </div>
                                </div>
                            </owl-carousel>
                            <div class="customNavigation">
                                <a class="prev" (click)="owlPfa.previous()"><i class="fa fa-angle-left"></i></a>
                                <a class="next" (click)="owlPfa.next()"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <!-- <div class="row" *ngIf="!users?.pfa">
        <div class="col-sm-4" *ngFor="let i of [0,1,2]">
          <div class="card card-management">                
            <div class="card-body">            
              <div class="link"><i class="fa fa-external-link"></i></div>
              <asap-skeleton type="box" boxWidth="100%" boxHeight="19px"></asap-skeleton>
              <asap-skeleton type="box" boxWidth="50%" boxHeight="14px"></asap-skeleton>
              <asap-skeleton type="box" boxWidth="70%" boxHeight="12px"></asap-skeleton>
            </div>
          </div>
        </div>
      </div> -->
            </div>


            <!-- <div class="section">
                <div class="section-title">
                    <div class="row">
                        <div class="col-sm-6 d-flex align-items-center">
                            <h5>visualize as competências da <span>equipe</span></h5>
                        </div>
                        <div class="col-sm-6 d-flex align-items-center justify-content-end">
                            <ul>
                                <li (click)="viewPeriodPfa = 'historyPfa'" class="history"><i class="fa fa-history"></i></li>
                                <li (click)="viewPeriodPfa = 'lastYearPfa'">2020</li>
                                <li (click)="viewPeriodPfa = 'currentYearPfa'" class="active">2021</li>
                                <li class="disable">2022</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div *ngIf="viewPeriodPfa == 'historyPfa'">
                    historico
                </div>

                <div *ngIf="viewPeriodPfa == 'lastYearPfa'">
                    <div class="alert alert-warning">
                        <strong><i class="fa fa-exclamation-triangle mr-2"></i></strong>
                        Sua equipe não possue feedbacks cadastrados para este
                        período.
                    </div>
                </div>

                <ng-container *ngIf="ratingAvaliado">
                    <div *ngIf="viewPeriodPfa == 'currentYearPfa'">
                        <div class="carousel-stage">
                            <owl-carousel #owlPfa [options]="options" [items]="ratingAvaliado">
                                <div class="item" *ngFor="let item of ratingAvaliado">
                                    <div class="card card-management" [routerLink]="['/components/skills', item.id]">
                                        <div class="card-body">
                                            <div class="link"><i class="fa fa-external-link"></i></div>
                                            <h4>{{ item.description }}</h4>
                                            <p *ngIf="item?.answer > 0" class="text-success">Parabéns, você já respondeu o questionário!</p>
                                            <p *ngIf="item?.answer == 0" class="text-warning">Você tem uma pendência para responder!</p>
                                            <small>{{ 'Deadline' | translate }}: {{ item.date_end | date: 'dd/MM/yyyy'}}</small>
                                        </div>
                                    </div>
                                </div>
                            </owl-carousel>
                            <div class="customNavigation">
                                <a class="prev" (click)="owlPfa.previous()"><i class="fa fa-angle-left"></i></a>
                                <a class="next" (click)="owlPfa.next()"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <div class="row" *ngIf="!ratingAvaliado">
                    <div class="col-sm-4" *ngFor="let i of [0,1,2]">
                        <div class="card card-management">
                            <div class="card-body">
                                <div class="link"><i class="fa fa-external-link"></i></div>
                                <asap-skeleton type="box" boxWidth="100%" boxHeight="19px"></asap-skeleton>
                                <asap-skeleton type="box" boxWidth="50%" boxHeight="14px"></asap-skeleton>
                                <asap-skeleton type="box" boxWidth="70%" boxHeight="12px"></asap-skeleton>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->




            <!-- <div class="section">
                <div class="section-title">
                    <div class="row">
                        <div class="col-sm-6 d-flex align-items-center">
                            <h5>conecte conhecimento com a <span>prática</span></h5>
                        </div>
                        <div class="col-sm-6 d-flex align-items-center justify-content-end">
                            <ul>
                                <li (click)="viewPeriodPfa = 'historyPfa'" class="history"><i class="fa fa-history"></i></li>
                                <li (click)="viewPeriodPfa = 'lastYearPfa'">2020</li>
                                <li (click)="viewPeriodPfa = 'currentYearPfa'" class="active">2021</li>
                                <li class="disable">2022</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div *ngIf="viewPeriodPfa == 'historyPfa'">
                    historico
                </div>

                <div *ngIf="viewPeriodPfa == 'lastYearPfa'">
                    <div class="alert alert-warning">
                        <strong><i class="fa fa-exclamation-triangle mr-2"></i></strong>
                        Sua equipe não possue feedbacks cadastrados para este
                        período.
                    </div>
                </div>

                <ng-container *ngIf="knowledge">
                    <div *ngIf="viewPeriodPfa == 'currentYearPfa'">
                        <div class="carousel-stage">
                            <owl-carousel #owlPfa [options]="options">
                                <div class="item" *ngFor="let item of knowledge.cursos">
                                    <div class="card card-management" [routerLink]="['/components/management/','user',user?.id,item?.id]">
                                        [routerLink]="['/cadastros/clientes/historico']"    
                                        [routerLink]="['/components/management/','user',user?.id,item?.id]">          
                                        <div class="card-body">
                                            <div class="link"><i class="fa fa-external-link"></i></div>
                                            <img src="{{item.arquivo}}" class="cover" alt="" />
                                            <h4>{{item?.titulo}}</h4>
                                            <p *ngIf="item?.status" class="text-success">Avaliado</p>
                                            <p *ngIf="!item?.status" class="text-warning">Não Avaliado</p>
                                            <div class="chips" *ngIf="item?.conhecimento?.length > 0">
                      <ul>
                        <li class="text-truncate w-20">{{ item.conhecimento[0].obs }}</li>
                        <li class="text-truncate w-20" *ngIf="item?.conhecimento?.length > 1">{{ item?.conhecimento[1]?.obs }}</li>
                        <li class="text-nowrap" *ngIf="item?.conhecimento?.length > 2">{{ item?.conhecimento?.length - 2}} +</li>
                      </ul>
                    </div>
                                            <small *ngIf="!item?.status?.meta && item?.status">Parabéns você superou todos os Desafios!</small>
                                            <small *ngIf="item?.status?.meta">Meta Definida: {{ item?.status?.meta | date: 'dd/MM/yyyy'}}</small>
                                        </div>
                                    </div>
                                </div>
                            </owl-carousel>
                            <div class="customNavigation">
                                <a class="prev" (click)="owlPfa.previous()"><i class="fa fa-angle-left"></i></a>
                                <a class="next" (click)="owlPfa.next()"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </ng-container>


                <ng-container *ngIf="!knowledge">
                    <div class="row">
                        <div class="col-sm-4" *ngFor="let i of [0,1,2]">
                            <div class="card card-management">
                                <div class="card-body">
                                    <div class="link"><i class="fa fa-external-link"></i></div>
                                    <asap-skeleton type="box" boxWidth="100%" boxHeight="19px"></asap-skeleton>
                                    <asap-skeleton type="box" boxWidth="50%" boxHeight="14px"></asap-skeleton>
                                    <asap-skeleton type="box" boxWidth="70%" boxHeight="12px"></asap-skeleton>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div> -->

            <!-- <div class="section">
      <div class="section-title">
        <div class="row">
          <div class="col-sm-6 d-flex align-items-center">
            <h5>conecte conhecimento com a <span>prática</span></h5>
          </div>
          <div class="col-sm-6 d-flex align-items-center justify-content-end">
            <ul>
              <li (click)="viewPeriod = 'history'" class="history"><i class="fa fa-history"></i></li>
              <li (click)="viewPeriod = 'lastYear'">2019</li>
              <li (click)="viewPeriod = 'currentYear'" class="active">2020</li>
              <li class="disable">2021</li>
            </ul>
          </div>
        </div>
      </div>

      <div *ngIf="viewPeriod == 'history'">
        historico
      </div>

      <div *ngIf="viewPeriod == 'lastYear'">
        <div class="alert alert-warning">
          <strong><i class="fa fa-exclamation-triangle mr-2"></i></strong>
          Você não possue conhecimentos adquiridos para este período.
        </div>
      </div>

      <div *ngIf="viewPeriod == 'currentYear'">

        <div class="row">
          <div class="col-sm-6">
            <div class="card card-management" [routerLink]="['/components/map']">
              <div class="card-body">
                <div class="link"><i class="fa fa-external-link"></i></div>
                <h4>Conhecimento</h4>

                <p class="text-success">Parabéns, você está atualizado!</p>
                <div class="chips">
                  <ul>
                    <li>Pendência #1</li>
                    <li>Pendência #2</li>
                    <li>7+</li>
                  </ul>
                </div>
                <div>
                  <small>
                    <i class="fa fa-calendar" *ngIf="!item.data_PFA"></i>
                    {{ item.data_PFA | date }}
                  </small>
                  <small>Data limite: 31/03/2020</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card card-management" [routerLink]="['/components/skills']">
              <div class="card-body">
                <div class="link"><i class="fa fa-external-link"></i></div>
                <h4>Competência</h4>
                <p class="text-warning">Você possui x pendências.</p>
                <div class="chips">
                  <ul>
                    <li>Pendência #1</li>
                    <li>Pendência #2</li>
                    <li>7+</li>
                  </ul>
                </div>
                <div>
                  <small>Data limite: 31/03/2020</small>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div> -->
        </div>
        <div class="col-sm-3">
            <app-box-pfa></app-box-pfa>
            <!-- <app-box-cognition></app-box-cognition>
    <app-box-qualification></app-box-qualification> -->
            <!-- <app-box-map></app-box-map> -->
        </div>
    </div>
</ng-container>

<!-- Admin -->
<ng-container *ngIf="!loadAdmin">
    <div class="row mb-4" *ngIf="cargo">
        <!-- <div class="col-sm-12">
            <div class="banner-user">
                <div style="margin-right: 15px;">
                    <ngx-avatar size="100" bgColor="var(--main-color)" [cornerRadius]="10" initialsSize="2" [name]="user.name"></ngx-avatar>
                </div>
                <div>
                    <h3>{{ user.name }}</h3>
                    <small>Painel de Gestão</small>
                    <br />
                </div>
            </div>
        </div> -->
        <div class="col-sm-12">
            <div class="sectionsManagement mt-4">

                <div class="row">
                <!-- <div class="col-sm-12"> -->
                    <!-- <div class="banner-user">
                         <div class="mr-3">
                            <ngx-avatar size="100" bgColor="var(--main-color)" [cornerRadius]="10" initialsSize="2" [name]="user.name"></ngx-avatar>  
                        </div>      
                        <div>
                            <h2>{{ user.name }}</h2>
                            <h3>Painel de gestão</h3>
                            <p>Visualização do gestor</p>
                        </div>            
                    </div> -->
                    
                    <div class="col-sm-12">
                        <h3>{{ 'ManagementPanel' | translate }}</h3>
                        <p>{{ 'ManagerView' | translate }}</p>
                    </div>
                   
                <!-- </div> -->
                </div>
            
                <div class="row">
                <!-- <div class="col-6 col-sm-3 mb-4 mb-sm-0">
                    <div class="cardInfo transition-up">
                    <h4>PFA</h4>
                    <h4>75%</h4>
                    </div>
                </div>
                <div class="col-6 col-sm-3 mb-4 mb-sm-0">
                    <div class="cardInfo transition-up">
                    <h4>Avaliação 360</h4>
                    <h4>75%</h4>
                    </div>
                </div> -->
                <!-- <div class="col-6 col-sm-3 mb-4 mb-sm-0">
                    <div class="cardInfo transition-up">
                    <h4>Competência</h4>
                    <h4>75%</h4>
                    </div>
                </div>
                <div class="col-6 col-sm-3 mb-4 mb-sm-0">
                    <div class="cardInfo transition-up">
                    <h4>Feedback</h4>
                    <h4>75%</h4>
                    </div>
                </div> -->
                </div>
            </div>
        </div>
          



        <div class="col-sm-12 sectionsManagement">

            <!-- FeedBack -->

            <div class="section" >
                <!-- <div class="section-title">                    
                    <div class="row">
                        <div class="col-sm-6 d-flex align-items-center">
                            <h5>visualize o <span>feedback</span> da equipe</h5>
                        </div>
                        <div class="col-sm-6 d-flex align-items-center justify-content-end">
                            <ul>
                                <li (click)="viewPeriodPfa = 'historyPfa'" class="history"><i class="fa fa-history"></i></li>
                                <li (click)="viewPeriodPfa = 'lastYearPfa'">2019</li>
                                <li (click)="viewPeriodPfa = 'currentYearPfa'" class="active">2020</li>
                                <li class="disable">2021</li>
                            </ul>
                        </div>
                    </div>
                </div> -->

                <div class="titleSections">
                    <div class="row mb-4">
                      <div class="col-sm-6 text-center text-sm-left mb-3 mb-sm-0">
                        {{ 'ViewThe' | translate }} <span>feedback</span> {{ 'teams' | translate }}
                      </div>
                      <div class="col-sm-6 d-flex align-items-center justify-content-center justify-content-sm-end">
                        <ul>
                          <!-- <li (click)="viewPeriodPfa = 'historyPfa'" class="history"><i class="fa fa-history"></i></li> -->
                          <!-- <li (click)="viewPeriodPfa = 'lastYearPfa'">2020</li> -->
                          <!-- <li (click)="viewPeriodPfa = 'currentYearPfa'" class="active">2021</li> -->
                          <!-- <li class="disable">2022</li> -->
                        </ul>
                      </div>
                    </div>
                </div>
<!-- 
                <div *ngIf="viewPeriodPfa == 'historyPfa'">
                    historico
                </div>

                <div *ngIf="viewPeriodPfa == 'lastYearPfa'">
                    <div class="alert alert-warning">
                        <strong><i class="fa fa-exclamation-triangle mr-2"></i></strong>
                        Sua equipe não possue feedbacks cadastrados para este
                        período.
                    </div>
                </div> -->

                <div>
                    <div *ngIf="viewPeriodPfa == 'historyPfa'">{{ 'historic' | translate }}</div>
                
                    <div *ngIf="viewPeriodPfa == 'lastYearPfa'">
                      <div class="alert alert-warning">
                        <strong><i class="fa fa-exclamation-triangle mr-2"></i></strong> {{ 'YouDoNotHaveFeedbacksRegisteredForThisPeriod' | translate }}.
                      </div>
                    </div>
                
                    <div *ngIf="viewPeriodPfa == 'currentYearPfa'" class="active">
                        <!-- <ng-container>
                            <div *ngIf="viewPeriodPfa == 'currentYearPfa'">
                                <div class="carousel-stage">
                                    <owl-carousel #owlPfa [options]="options">
                                        <div class="item">
                                            <div class="card card-management" [routerLink]="['/components/pfa', users?.dadosPFA?.id ]">
                                                <div class="card-body">
                                                    <div class="link"><i class="fa fa-external-link"></i></div>
                                                    <h4>{{users?.dadosPFA?.name}}</h4>
                                                    <small>Data limite: {{ users?.dadosPFA?.date_end | date: 'dd/MM/yyyy' }}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </owl-carousel>
                                    <div class="customNavigation">
                                        <a class="prev" (click)="owlPfa.previous()"><i class="fa fa-angle-left"></i></a>
                                        <a class="next" (click)="owlPfa.next()"><i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </ng-container> -->
                        <table cellspacing="5">
                            <caption class="d-block d-sm-none w-100">PFA</caption>
                            <thead>
                              <tr> 
                                <th class="title text-uppercase">PFA</th>
                                <th class="text-center w-14">{{ 'Deadline' | translate }}</th>
                                <!-- <th class="text-center w-14">Pendências</th> -->
                                <th class="text-center w-14">Status</th>
                                <th class="actions"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of users?.dadosPFA">
                                <td class="text-center text-sm-left"><a *ngIf="item" [routerLink]="['/components/pfa/regional/senior/user', item.item_id, item.id]">{{ item?.name }}</a></td>      
                                <td class="text-center">{{ item?.date_end | date: 'dd/MM/yyyy' }}</td>
                                <!-- <td class="text-center">{{ item?.pendencia ? item?.pendencia : 0 }}</td> -->
                                <td class="text-center status status-{{item?.badge}}">{{ item?.statusName }}</td>
                                <td class="text-center">
                                    <a *ngIf="item" [routerLink]="['/components/pfa/regional/senior/user', item.item_id, item.id]">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

   
            </div>

            <!-- Avalia 360 -->

            <div class="section" *ngIf="avalia360Dados?.length > 0">
                <!-- <div class="section-title">
                    <div class="row">
                        <div class="col-sm-6 d-flex align-items-center">
                            <h5>visualize a <span>avaliação 360</span> da equipe</h5>
                        </div>
                        <div class="col-sm-6 d-flex align-items-center justify-content-end">
                            <ul>
                                <li (click)="viewPeriodPfa = 'historyPfa'" class="history"><i class="fa fa-history"></i></li>
                                <li (click)="viewPeriodPfa = 'lastYearPfa'">2019</li>
                                <li (click)="viewPeriodPfa = 'currentYearPfa'" class="active">2020</li>
                                <li class="disable">2021</li>
                            </ul>
                        </div>
                    </div>
                </div> -->


                <div class="titleSections">
                    <div class="row mb-4">
                      <div class="col-sm-6 text-center text-sm-left mb-3 mb-sm-0">
                        {{ 'ViewThe' | translate }} <span>{{ '360evaluation' | translate }}</span> {{ 'teams' | translate }}
                      </div>
                      <!-- <div class="col-sm-6 d-flex align-items-center justify-content-center justify-content-sm-end">
                        <ul>                 
                          <li (click)="viewPeriod = 'lastYear'">2020</li>
                          <li (click)="viewPeriod = 'currentYear360'" class="active">2021</li>
                          <li class="disable">2022</li>
                        </ul>
                      </div> -->
                    </div>
                </div>
<!-- 
                <div *ngIf="viewPeriodPfa == 'historyPfa'">
                    historico
                </div>

                <div *ngIf="viewPeriodPfa == 'lastYearPfa'">
                    <div class="alert alert-warning">
                        <strong><i class="fa fa-exclamation-triangle mr-2"></i></strong>
                        Sua equipe não possue feedbacks cadastrados para este
                        período.
                    </div>
                </div> -->

                <div>
                    <div *ngIf="viewPeriod == 'history'">{{ 'historic' | translate }}</div>
                
                    <div *ngIf="viewPeriod == 'lastYear'">
                      <div class="alert alert-warning">
                        <strong><i class="fa fa-exclamation-triangle mr-2"></i></strong> {{ 'YouDoNotHaveFeedbacksRegisteredForThisPeriod' | translate }}.
                      </div>
                    </div>
                
                    <div>
         
                        <table cellspacing="5">
                            <caption class="d-block d-sm-none w-100">{{ '360Evaluation' | translate }}</caption>
                            <thead>
                              <tr>
                                <th class="title text-uppercase">{{ 'Assessment' | translate }}</th>
                                <th class="text-center w-14">{{ 'Deadline' | translate }}</th>
                                <!-- <th class="text-center w-14">Pendências</th> -->
                                <!-- <th class="text-center w-14">Status</th> -->
                                <th class="actions"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <!-- <tr *ngFor="let avalia of avalia360Dados"> -->
                              <tr *ngFor="let avalia of avalia360Dados">
                                <td class="text-center text-sm-left">
                                    <a [routerLink]="['/components/avalia-360', avalia?.sub_folder_id, avalia?.id, user?.id, avalia?.type]">{{ avalia?.name }}</a>
                                </td>
                                <td class="text-center">{{ avalia?.date_end | date: 'dd/MM/yyyy' }}</td>
                                <!-- <td class="text-center">{{ avalia?.pendencia ? avalia?.pendencia : 0 }}</td> -->
                                <!-- <td class="text-center status status-{{avalia?.badge}}">{{ avalia?.statusName }}</td> -->
                                <td class="text-center">
                                    <a [routerLink]="['/components/avalia-360', avalia?.sub_folder_id, avalia?.id, user?.id, avalia?.type]">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- <ng-container>
                    <div *ngIf="viewPeriodPfa == 'currentYearPfa'">
                        <div class="carousel-stage">
                            <owl-carousel #owlPfa [options]="options">
                                <div class="item" *ngFor="let avalia of avalia360Dados">
                                    <div class="card card-management">
                                        <div class="card-body row" [routerLink]="['/components/avalia-360', avalia?.sub_folder_id, avalia?.id, user?.id, avalia?.type]">
                                            <div class="link">
                                                <i class="fa fa-external-link"></i>
                                            </div>
                                            <div class="col-sm-12">
                                                <h4>
                                                    {{ avalia?.name }}
                                                </h4>
                                                <small>Data limite: {{ avalia?.date_end | date: 'dd/MM/yyyy' }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </owl-carousel>
                            <div class="customNavigation">
                                <a class="prev" (click)="owlPfa.previous()"><i class="fa fa-angle-left"></i></a>
                                <a class="next" (click)="owlPfa.next()"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </ng-container> -->
            </div>

            <div class="row" *ngIf="loading360">
                <div class="col-sm-4" *ngFor="let i of [0,1,2]">
                    <div class="card card-management">
                        <div class="card-body">
                            <div class="link"><i class="fa fa-external-link"></i></div>
                            <asap-skeleton type="box" boxWidth="100%" boxHeight="19px"></asap-skeleton>
                            <asap-skeleton type="box" boxWidth="50%" boxHeight="14px"></asap-skeleton>
                            <asap-skeleton type="box" boxWidth="70%" boxHeight="12px"></asap-skeleton>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Competencias -->
            <div class="section">
                <div class="section-title">
                    <!-- <div class="row">
                        <div class="col-sm-6 d-flex align-items-center">
                            <h5>visualize as <span>competências</span> da equipe</h5>
                        </div>
                        <div class="col-sm-6 d-flex align-items-center justify-content-end">
                            <ul>
                                <li (click)="viewPeriodPfa = 'historyPfa'" class="history"><i class="fa fa-history"></i></li>
                                <li (click)="viewPeriodPfa = 'lastYearPfa'">2019</li>
                                <li (click)="viewPeriodPfa = 'currentYearPfa'" class="active">2020</li>
                                <li class="disable">2021</li>
                            </ul>
                        </div>
                    </div> -->
                </div>

                <!-- <div class="titleSections">
                    <div class="row mb-4">
                      <div class="col-sm-6 text-center text-sm-left mb-3 mb-sm-0">
                        Visualize as <span>competências</span> da equipe
                      </div>
                      <div class="col-sm-6 d-flex align-items-center justify-content-center justify-content-sm-end">
                        <ul>                 
                          <li (click)="viewPeriod = 'lastYear'">2020</li>
                          <li (click)="viewPeriod = 'currentYear'" class="active">2021</li>
                          <li class="disable">2022</li>
                        </ul>
                      </div>
                    </div>
                </div>

                <div *ngIf="viewPeriodPfa == 'historyPfa'">
                    historico
                </div> -->

                <div *ngIf="viewPeriodPfa == 'lastYearPfa'">
                    <div class="alert alert-warning">
                        <strong><i class="fa fa-exclamation-triangle mr-2"></i></strong> {{ 'YouDoNotHaveFeedbacksRegisteredForThisPeriod' | translate }}.
                    </div>
                </div>

                <div class="mb-5">
                    <div *ngIf="viewPeriod == 'history'">{{ 'historic' | translate }}</div>
                
                    <div *ngIf="viewPeriod == 'lastYear'">
                      <div class="alert alert-warning">
                        <strong><i class="fa fa-exclamation-triangle mr-2"></i></strong> {{ 'YouDoNotHaveFeedbacksRegisteredForThisPeriod' | translate }}.
                      </div>
                    </div>
                
                    <div *ngIf="viewPeriod == 'currentYear'">
         
                        <table cellspacing="5" class="mb-5">
                            <caption class="d-block d-sm-none w-100">{{ 'Competence' | translate }}</caption>
                            <thead>
                              <tr>
                                <th class="title text-uppercase">{{ 'Competence' | translate }}</th>
                                <th class="text-center w-14">{{ 'Deadline' | translate }}</th>
                                <th class="text-center w-14">{{ 'Pendencies' | translate }}</th>
                                <th class="text-center w-14">Status</th>
                                <th class="actions"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of rating">
                                <td class="text-center text-sm-left"><a [routerLink]="['/components/skills', item.id, user.id]">{{ item?.description }}</a></td>
                                <td class="text-center">{{ item?.date_end | date: 'dd/MM/yyyy' }}</td>
                                <td class="text-center">0</td>
                                <td class="text-center status status-success">{{ 'Evaluated' | translate }}</td>
                                <td class="text-center">
                                    <a [routerLink]="['/components/skills', item.id, user.id]">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- <ng-container>
                    <div *ngIf="viewPeriodPfa == 'currentYearPfa'">
                        <div class="carousel-stage">
                            <owl-carousel #owlPfa [options]="options" [items]="rating">
                                <div class="item" *ngFor="let item of rating">
                                    <div class="card card-management" [routerLink]="['/components/skills', item.id, user.id]">
                                        <div class="card-body">
                                            <div class="link"><i class="fa fa-external-link"></i></div>
                                            <h4>{{ item.description }}</h4>
                                            <small>Data limite: {{ item.date_end | date: 'dd/MM/yyyy'}}</small>
                                        </div>
                                    </div>
                                </div>
                            </owl-carousel>
                            <div class="customNavigation">
                                <a class="prev" (click)="owlPfa.previous()"><i class="fa fa-angle-left"></i></a>
                                <a class="next" (click)="owlPfa.next()"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </ng-container>  -->

                <ng-container *ngIf="false">
                    <div *ngIf="viewPeriodPfa == 'currentYearPfa'">
                        <div class="carousel-stage">
                            <owl-carousel #owlPfa [options]="options" [items]="rating">
                                <div class="item" *ngFor="let item of rating">
                                    <div class="card card-management" [routerLink]="['/components/skills/rating', evaluatedData[0].id, item.id]">
                                        <div class="card-body">
                                            <div class="link"><i class="fa fa-external-link"></i></div>
                                            <h4>{{ item.description }}</h4>
                                            <small>{{ 'Deadline' | translate }}: {{ item.date_end | date: 'dd/MM/yyyy'}}</small>
                                        </div>
                                    </div>
                                </div>
                            </owl-carousel>
                            <div class="customNavigation">
                                <a class="prev" (click)="owlPfa.previous()"><i class="fa fa-angle-left"></i></a>
                                <a class="next" (click)="owlPfa.next()"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="false">
                    <asap-skeleton type="box" boxWidth="10px" boxHeight="38px"></asap-skeleton>
                </ng-container>
            </div>

            <!-- Conhecimento -->
            <ng-container *ngIf="false">

                <div class="section">
                    <!-- <div class="section-title">
                        <div class="row">
                            <div class="col-sm-6 d-flex align-items-center">
                                <h5>conecte conhecimento com a <span>prática</span></h5>
                            </div>
                            <div class="col-sm-6 d-flex align-items-center justify-content-end">
                                <ul>
                                    <li (click)="viewPeriod = 'history'" class="history"><i class="fa fa-history"></i></li>
                                    <li (click)="viewPeriod = 'lastYear'">2019</li>
                                    <li (click)="viewPeriod = 'currentYear'" class="active">2020</li>
                                    <li class="disable">2021</li>
                                </ul>
                            </div>
                        </div>
                    </div> -->

                    <div class="titleSections">
                        <div class="row mb-4">
                          <div class="col-sm-6 text-center text-sm-left mb-3 mb-sm-0">
                            {{ 'ViewThe' | translate }} <span>{{ 'knowledge' | translate }}</span> {{ 'teams' | translate }}
                          </div>
                          <!-- <div class="col-sm-6 d-flex align-items-center justify-content-center justify-content-sm-end">
                            <ul>                 
                              <li (click)="viewPeriod = 'lastYear'">2020</li>
                              <li (click)="viewPeriod = 'currentYear'" class="active">2021</li>
                              <li class="disable">2022</li>
                            </ul>
                          </div> -->
                        </div>
                    </div>


                    <!-- <div *ngIf="viewPeriod == 'history'">
                        historico
                    </div>

                    <div *ngIf="viewPeriod == 'lastYear'">
                        <div class="alert alert-warning">
                            <strong><i class="fa fa-exclamation-triangle mr-2"></i></strong>
                            Sua equipe não possue conhecimentos adquiridos para este período.
                        </div>
                    </div> -->

                    <div *ngIf="viewPeriod == 'currentYear'">                        
                        <ng-container *ngIf="users && users.dados">
                            <div class="row" *ngFor="let item of users.dados">
                                <div class="col-sm-12">
                                    <div class="header-user">
                                        <img [src]="item.user.picture || 'assets/img/default-avatar.png'" class="avatar" alt="" (onError)="item.user.picture = 'assets/img/default-avatar.png'">
                                        <div>
                                            <h4>{{ item.user.name | titlecase }}</h4>
                                            <small>{{ item.user.value.cargos | uppercase }}</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-management" [routerLink]="['/components/map', item?.user?.id]">
                                        <div class="card-body">
                                            <div class="link">
                                                <i class="fa fa-external-link"></i>
                                            </div>
                                            
                                            <h4>{{ 'Knowledge' | translate }}</h4>
                                            
                                            <p *ngIf="(item?.conhecimento?.length > 1) && (item?.pendencias?.length == 0)" class="text-success">
                                                {{ 'Congratulations,youHaveOvercomeAllTheChallenges! ' | translate }}
                                            </p>
                                            <p *ngIf="item?.conhecimento?.length == 0" class="text-warning">
                                                {{ 'YouStillHaveCoursesToEvaluate' | translate }}!
                                            </p>
                                            <p *ngIf="item?.pendencias?.length > 0" class="text-warning">
                                                {{ 'YouHave' | translate }} {{item?.pendencias?.length}} {{ 'challengesToOvercome!' | translate }}
                                            </p>
                                            <div class="chips" *ngIf="item?.pendencias?.length > 0">
                                                <ul>
                                                    <li class="text-truncate w-20">{{ item?.pendencias[0]?.obs }}</li>
                                                    <li class="text-truncate w-20" *ngIf="item?.pendencias?.length > 1">{{ item?.pendencias[1]?.obs }}</li>
                                                    <li class="text-nowrap" *ngIf="item?.pendencias?.length > 2">{{ item?.pendencias?.length - 2}} +</li>
                                                </ul>
                                            </div>
                                            <div>                                                
                                                <small *ngIf="item?.conhecimento[0]?.meta && (item?.conhecimento[0]?.meta != '0000-00-00 00:00:00')">Meta: {{ item?.conhecimento[0]?.meta | date: 'dd/MM/yyyy' }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" *ngFor="let comp of item.competencia">
                                    <div class="card card-management" [routerLink]="['/components/skills', item.user.id]">
                                        <div class="card-body">
                                            <div class="link"><i class="fa fa-external-link"></i></div>
                                            <h4>{{ 'Competence' | translate }}</h4>
                                            <p *ngIf="comp?.answer > 0" class="text-success">
                                                {{ 'Congratulations,youHaveAlreadyAnsweredTheQuestionnaire' | translate }} {{comp?.description}}!
                                            </p>
                                            <p *ngIf="comp?.answer == 0" class="text">
                                                {{ 'YouHaveAPendingAnswer' | translate }}: <span class="text-warning">{{comp?.description}}!</span>
                                            </p>
                                            <div>
                                                <small>{{ 'Deadline' | translate }}: {{ comp?.date_end | date: 'dd/MM/yyyy' }} </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="!users">
                            <div class="row mt-4" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
                                <div class="col-sm-12">
                                    <asap-skeleton type="box" boxWidth="31%" boxHeight="50px"></asap-skeleton>
                                </div>
                                <div class="col-sm-6">
                                    <asap-skeleton type="box" boxWidth="100%" boxHeight="107px"></asap-skeleton>
                                </div>
                                <div class="col-sm-6">
                                    <asap-skeleton type="box" boxWidth="100%" boxHeight="107px"></asap-skeleton>
                                </div>
                            </div>
                        </ng-container>
                    </div>

                    <div>
                        <div *ngIf="viewPeriod == 'history'">{{ 'historic' | translate }}</div>
                    
                        <div *ngIf="viewPeriod == 'lastYear'">
                          <div class="alert alert-warning">
                            <strong><i class="fa fa-exclamation-triangle mr-2"></i></strong> {{ 'YouDoNotHaveFeedbacksRegisteredForThisPeriod' | translate }}.
                          </div>
                        </div>
                    
                        <div *ngIf="viewPeriod == 'currentYear'">
             
                            <table cellspacing="5">
                                <caption class="d-block d-sm-none w-100">{{ 'Knowledge' | translate }}</caption>
                                <thead>
                                  <tr>
                                    <th class="title text-uppercase">{{ 'Knowledge' | translate }}</th>
                                    <th class="text-center w-14">{{ 'Deadline' | translate }}/th>
                                    <th class="text-center w-14">{{ 'Pendencies' | translate }}</th>
                                    <th class="text-center w-14">Status</th>
                                    <th class="actions"></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let comp of item.competencia">
                                    <td class="text-center text-sm-left">
                                        <a [routerLink]="['/components/avalia-360', avalia?.sub_folder_id, avalia?.id, user?.id, avalia?.type]">{{ avalia?.name }}</a>
                                    </td>
                                    <td class="text-center">{{ avalia?.date_end | date: 'dd/MM/yyyy' }}</td>
                                    <td class="text-center">0</td>
                                    <td class="text-center status status-success">{{ 'Evaluated' | translate }}</td>
                                    <td class="text-center">
                                        <a [routerLink]="['/components/avalia-360', avalia?.sub_folder_id, avalia?.id, user?.id, avalia?.type]"><i class="fa fa-eye"></i></a>
                                    </td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <!-- <div class="col-sm-3">
            <app-box-pfa></app-box-pfa>
            <app-box-qualification></app-box-qualification>
            <app-box-map></app-box-map>
            <app-box-contributors></app-box-contributors>
        </div> -->
    </div>
</ng-container>