<ng-container *ngIf="loadAdmin">
  <div class="preloading">
      <i class="fa fa-spinner fa-spin fa-3x"></i>
      <p class="text fw-100">Carregando dados...</p>
  </div>
</ng-container>

<ng-container *ngIf="!loadNormal && !loadAdmin">
  <div class="row mb-4" *ngIf="!cargo">
      <div class="col-sm-12">
          <div class="banner-user">
              <div style="margin-right: 15px;">
                  <ngx-avatar size="100" bgColor="var(--main-color)" [cornerRadius]="10" initialsSize="2"
                      [name]="user.name"></ngx-avatar>
              </div>
              <!-- <img [src]="'assets/img/default-avatar.png' || user.picute" class="avatar" alt=""> -->
              <div>
                  <h3>{{ user.name }}</h3>
                  <!-- <p>{{ user.value.cargos | uppercase }}</p> -->
                  <small>Painel do {{ user.value.cargos }}</small>
                  <br />
                  <mat-form-field class="w-55">
                      <mat-label>Visualizar como:</mat-label>
                      <mat-select [(ngModel)]="view" (selectionChange)="selectView($event)">
                          <mat-option value="Gestor">Gestor</mat-option>
                          <mat-option value="Colaborador">Colaborador</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
          </div>
      </div>
      <div class="col-sm-9">
          <div class="section" *ngIf="users?.pfa">
              <div class="section-title">
                  <div class="row">
                      <div class="col-sm-6 d-flex align-items-center">
                          <h5>visualize o feedback da <span>equipe</span></h5>
                      </div>
                      <div class="col-sm-6 d-flex align-items-center justify-content-end">
                          <ul>
                              <li (click)="viewPeriodPfa = 'historyPfa'" class="history"><i class="fa fa-history"></i>
                              </li>
                              <li (click)="viewPeriodPfa = 'lastYearPfa'">2020</li>
                              <li (click)="viewPeriodPfa = 'currentYearPfa'" class="active">2021</li>
                              <li class="disable">2022</li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div *ngIf="viewPeriodPfa == 'historyPfa'">
                  historico
              </div>

              <div *ngIf="viewPeriodPfa == 'lastYearPfa'">
                  <div class="alert alert-warning">
                      <strong><i class="fa fa-exclamation-triangle mr-2"></i></strong>
                      Você não possue feedbacks cadastrados para este
                      período.
                  </div>
              </div>
              <ng-container *ngIf="users?.pfa">
                  <div *ngIf="viewPeriodPfa == 'currentYearPfa'">
                      <div class="carousel-stage">
                          <owl-carousel #owlPfa [options]="options" [items]="pfa">
                              <!-- {{users?.pfa | json}} -->
                              <div class="item">
                                  <div class="card card-management" [routerLink]="['/components/pfa']">
                                      <div class="card-body">
                                          <div class="link"><i class="fa fa-external-link"></i></div>
                                          <h4>{{pfas[0]?.name}}</h4>
                                          <p *ngIf="pfas[0]?.pendencias == 1" class="text-success">Parabéns você está
                                              atualizado!</p>
                                          <p *ngIf="pfas[0]?.pendencias > 1" class="text-warning">Você possui
                                              {{pfas[0]?.pendecias}}!</p>
                                          <!-- <div class="chips">
                                              <ul>
                                                  <li>Pendência #1</li>
                                                  <li>Pendência #2</li>
                                                  <li>7+</li>
                                              </ul>
                                          </div> -->
                                          <small><span>Data limite:</span> {{ pfas[0]?.date_end | date: 'dd/MM/yyyy'
                                              }}</small>
                                      </div>
                                  </div>
                              </div>
                          </owl-carousel>
                          <div class="customNavigation">
                              <a class="prev" (click)="owlPfa.previous()"><i class="fa fa-angle-left"></i></a>
                              <a class="next" (click)="owlPfa.next()"><i class="fa fa-angle-right"></i></a>
                          </div>
                      </div>
                  </div>
              </ng-container>

          </div>

      </div>
      <div class="col-sm-3">
          <app-box-pfa></app-box-pfa>
      </div>
  </div>
</ng-container>

<ng-container *ngIf="!loadAdmin">

  <div class="sectionsManagement mt-4">
      <div class="row" style="margin-bottom: 40px;">
          <div class="col-sm-12">
              <h3>Painel de gestão</h3>
              <p>Visualização do gestor</p>
          </div>
      </div>
  </div>

  <div class="sectionsManagement mt-4">

      <div class="titleSections">
          <div class="row mb-4">
              <div class="col-sm-6 text-center text-sm-left mb-3 mb-sm-0">
                  Visualize o <span>feedback</span> da equipe
              </div>
              <div class="col-sm-6 d-flex align-items-center justify-content-center justify-content-sm-end">
                  <ul>
                      <li (click)="viewPeriodPfa = 'currentYearPfa'" class="active">2020</li>
                      <li class="disable">2021</li>
                  </ul>
              </div>
          </div>
      </div>

      <div class="mb-5">

          <div *ngIf="viewPeriodPfa == 'lastYearPfa'">
              <div class="alert alert-warning">
                  <strong><i class="fa fa-exclamation-triangle mr-2"></i></strong>
                  Você não possue feedbacks cadastrados para este
                  período.
              </div>
          </div>

          <div *ngIf="viewPeriodPfa == 'currentYearPfa'" class="active">
              <table cellspacing="5" class="mb-5">
                  <caption class="d-block d-sm-none w-100">PFA</caption>
                  <thead>
                      <tr>
                          <th class="title text-uppercase">PFA</th>
                          <th class="text-center w-14">Data limite</th>
                          <!-- <th class="text-center w-14">Pendências</th> -->
                          <th class="text-center w-14">Status</th>
                          <th class="actions"></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td class="text-center text-sm-left"><a
                                  [routerLink]="['/components/pfa', users?.dadosPFA?.id ]">{{
                                  users?.dadosPFA?.name }}</a></td>
                          <td class="text-center">{{ users?.dadosPFA?.date_end | date: 'dd/MM/yyyy' }}
                          </td>
                          <!-- <td class="text-center">{{ users?.dadosPFA?.pendencia ? users?.dadosPFA?.pendencia : 0 }}</td> -->
                          <td class="text-center status status-{{users?.dadosPFA?.badge}}">{{
                              users?.dadosPFA?.statusName }}</td>
                          <td class="text-center"><a [routerLink]="['/components/pfa', users?.dadosPFA?.id ]"><i
                                      class="fa fa-eye"></i></a></td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>

      <div class="titleSections">
          <div class="row mb-4">
              <div class="col-sm-6 text-center text-sm-left mb-3 mb-sm-0">
                  Visualize o <span>avaliação 360</span> da equipe
              </div>
              <div class="col-sm-6 d-flex align-items-center justify-content-center justify-content-sm-end">
                  <ul>
                      <li (click)="viewPeriod = 'currentYear'" class="active">2020</li>
                      <li class="disable">2021</li>
                  </ul>
              </div>
          </div>
      </div>

      <div class="mb-5">

          <div *ngIf="viewPeriod == 'lastYear'">
              <div class="alert alert-warning">
                  <strong><i class="fa fa-exclamation-triangle mr-2"></i></strong>
                  Você não possue feedbacks cadastrados para este
                  período.
              </div>
          </div>

          <div *ngIf="viewPeriod == 'currentYear'" class="active">
              <table cellspacing="5" class="mb-5">
                  <caption class="d-block d-sm-none w-100">Avalia 360</caption>
                  <thead>
                      <tr>
                          <th class="title text-uppercase">Avaliação</th>
                          <th class="text-center w-14">Data limite</th>

                          <th class="actions"></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let avalia of avalia360Dados">
                          <td class="text-center text-sm-left">
                              <a [routerLink]="['/components/avalia-360', avalia?.sub_folder_id, avalia?.id, user?.id, avalia?.type]">
                                  {{ avalia?.name }}
                              </a>
                          </td>
                          <td class="text-center">{{ avalia?.date_end | date: 'dd/MM/yyyy' }}</td>
                          <td class="text-center">
                              <a [routerLink]="['/components/avalia-360', avalia?.sub_folder_id, avalia?.id, user?.id, avalia?.type]">
                                  <i class="fa fa-eye"></i>
                              </a>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>

  </div>
</ng-container>