<div class="row">
    <div class="col-sm-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a (click)="clearNavigate()" >{{ 'Home' | translate }}</a></li>
                <ng-container *ngFor="let item of arrayNavigate; let i = index">
                    <li (click)="navigateBack(i)" class="breadcrumb-item" [class.active]="i == arrayNavigate.length-1">                                              
                        {{ item.name }}
                    </li>
                    <!-- <li class="breadcrumb-item active d-none d-sm-block" aria-current="page">
                        Nome do usuário
                    </li> -->
                </ng-container>                                
            </ol>
        </nav>
    </div>
</div>